<p-card class="mx-2 empty-border info-card" [header]="'Información del médico aspirante'">
  <div class="grid">
    <div class="col-12 md:col-2">
      <div class="info-avatar flex align-items-center justify-content-center">
        <p-avatar [image]="aspirante.fotoUrl" shape="circle" size="xlarge">
        </p-avatar>
      </div>
    </div>

    <div class="col-12 md:col-10">
      <div class="grid">
        <div class="col-12 md:col-6">
          <h2 class="info-name">{{ aspirante.nombreCompleto }}</h2>
        </div>

        <div class="col-12 md:col-6">
          <div *ngIf="!tieneAsignacion" class="grid">
            <div class="col-12 md:col-4 flex align-items-center justify-content-start gap-2"
              style="cursor: pointer; color: #63c2ea;" (click)="rechazarOferta()">
              <i class="cme-rechazo-oferta" style="font-size: 1.4rem"></i>
              <p style="font-size: 11px; font-weight: 500; text-align: left;">Rechazo de oferta</p>
            </div>
            <div class="col-12 md:col-4 flex align-items-center justify-content-start gap-2"
              style="cursor: pointer; color: #63c2ea;" (click)="cambiarRama()">
              <i class="cme-cambio-rama" style="font-size: 1.4rem"></i>
              <p style="font-size: 11px; font-weight: 500; text-align: left;">Cambio de rama</p>
            </div>
            <div class="col-12 md:col-4 flex align-items-center justify-content-start gap-2"
              style="cursor: pointer; color: #63c2ea;" (click)="reimprimirVerificacion()">
              <i class="cme-file" style="font-size: 1.8rem"></i>
              <p style="font-size: 11px; font-weight: 500; text-align: left;">Reimpresión de verificación</p>
            </div>
          </div>

          <div *ngIf="tieneAsignacion" class="grid">
            <div class="col-12 md:col-6 flex align-items-center justify-content-start gap-2">
              <p-tag *ngIf="muestraTag" [value]="getTagTexto(tipoAsignacion)" [styleClass]="getTagClass(tipoAsignacion)"
                icon="pi pi-circle"></p-tag>
            </div>
            <div class="col-12 md:col-6 flex align-items-center justify-content-start gap-2"
              style="cursor: pointer; color: #63c2ea;" (click)="reimprimirVerificacion()">
              <i class="cme-file" style="font-size: 1.8rem"></i>
              <p style="font-size: 11px; font-weight: 500; text-align: left;">Reimpresión de verificación</p>
            </div>
          </div>

        </div>

      </div>

      <div class="col-12">
        <div class="grid">
          <div class="col-12 md:col-2">
            <div class="info-label">Matrícula</div>
            <div class="info-value">{{ aspirante.matricula }}</div>
          </div>

          <div class="col-12 md:col-2">
            <div class="info-label">Especialidad(es)</div>

            <div class="esp-inline">
              <ng-container *ngFor="let e of aspirante.especialidades; let last = last">
                <span class="esp-item-text">{{ e }}</span>
                <span *ngIf="!last" class="esp-sep">/</span>
              </ng-container>
            </div>
          </div>
          <div class="col-12 md:col-1">
            <div class="info-label">Sexo</div>
            <div class="info-value">{{ aspirante.sexo }}</div>
          </div>
          <div class="col-12 md:col-3">
            <div class="grid">
              <div class="col-12 md:col-6">
                <div class="info-label">CURP</div>
                <div class="info-value">{{ aspirante.curp }}</div>
              </div>
              <div class="col-12 md:col-6">
                <div class="info-label">RFC</div>
                <div class="info-value">{{ aspirante.rfc }}</div>
              </div>
            </div>     
          </div>
          <div class="col-12 md:col-2">
            <div class="info-label">Correo electrónico</div>
            <div class="info-value">{{ aspirante.email }}</div>
          </div>
          <div class="col-12 md:col-2">
            <div class="info-label">Correo electrónico adicional</div>
            <div class="info-value">{{ aspirante.emailAdicional }}</div>
          </div>
        </div>
      </div>
    </div>


    <!--Zona asignación por sustitución-->
    <div class="col-12" *ngIf="tipoAsignacion == 3">
        <div class="grid">
          <div class="col-12 md:col-2"></div>
            <div class="col-12 md:col-10 ">
              <h3 class="titulo-seccion">Asignación de sustitución</h3>
            </div>

            <div class="col-12 md:col-2"></div>
            <div class="col-12 md:col-3 flex align-items-center justify-content-start gap-2">
              <i class="cme-ooad" style="color: #63c2ea;font-size: 1.7rem" ></i>
              <div class="flex flex-column line-height-2" style="font-size: 12px;text-align: left;">
                <span class="font-semibold text-900">OOAD</span>
                <span class="font-semibold text-600">{{ aspirante.asignacion.ooad }}</span>
              </div>
            </div>
            <div class="col-12 md:col-2 flex align-items-center justify-content-start gap-2">
              <i class="cme-pin" style="color: #63c2ea;font-size: 1.7rem" ></i>
              <div class="flex flex-column line-height-2" style="font-size: 12px;text-align: left;">
                <span class="font-semibold text-900">Zona</span>
                <span class="font-semibold text-600">{{ aspirante.asignacion.zona }}</span>
              </div>
            </div>
            <div class="col-12 md:col-2 flex align-items-center justify-content-start gap-2">
              <i class="cme-total" style="color: #63c2ea;font-size: 1.7rem" ></i>
              <div class="flex flex-column line-height-2" style="font-size: 12px;text-align: left;">
                <span class="font-semibold text-900">Especialidad</span>
                <span class="font-semibold text-600">{{ aspirante.asignacion.especialidad }}</span>
              </div>
            </div>
            <div class="col-12 md:col-3 flex align-items-center justify-content-center">
              <p-button type="button" variant="outlined" label="Imprimir cedula" (click)="imprimirCedula()" />
            </div>
          
        </div>

      
    </div>

  </div>
</p-card>

<!--Zona asignación Ordinaria o Coplamar-->
<p-card *ngIf="(tieneAsignacion && tipoAsignacion == 1) || (tieneAsignacion && tipoAsignacion ==  2)" class="mx-2 empty-border info-card">
  <div class="grid">
    <div class="col-12 md:col-10">
      <div class="flex flex-column  p-0 mt-1">
          <div class="header-oferta-flex mb-2">
            <p class="titulo-oferta-card texto-ajustable">
              {{ aspirante.plaza.especialidad | titlecase }} / {{aspirante.plaza.categoria | titlecase }}
            </p>
          </div>
          <p class="especificacion-oferta-card">{{ aspirante.plaza.umf | titlecase }}</p>
        </div>
    </div>
    <div class="col-12 md:col-2 flex align-items-center justify-content-end">
      <p-button type="button" variant="outlined" label="Imprimir cedula" (click)="imprimirCedula()" />
    </div>

    <div class="col-12 md:col-7 my-4">
      <div class="grid">
        <div class="col-6 justify-content-start">
          <p class="texto-label-oferta-card text-600">OOAD:</p>
        </div>
        <div class="col-6 justify-content-end" style="text-align:right">
          <p class="texto-label-oferta-card text-900">{{ aspirante.plaza.ooad | titlecase }}</p>
        </div>
        <div class="col-6 justify-content-start">
          <p class="texto-label-oferta-card text-600">Zona:</p>
        </div>
        <div class="col-6 justify-content-end" style="text-align:right">
          <p class="texto-label-oferta-card text-900">{{ aspirante.plaza.zona | titlecase }}</p>
        </div>
        <div class="col-6 justify-content-start">
          <p class="texto-label-oferta-card text-600">No de plaza:</p>
        </div>
        <div class="col-6 justify-content-end" style="text-align:right">
          <p class="texto-label-oferta-card text-900">{{ aspirante.plaza.numPlaza | titlecase }}</p>
        </div>
        <div class="col-6 justify-content-start">
          <p class="texto-label-oferta-card text-600">Turno:</p>
        </div>
        <div class="col-6 justify-content-end" style="text-align:right">
          <p class="texto-label-oferta-card text-900">{{ aspirante.plaza.turno | titlecase }}</p>
        </div>
        <div class="col-6 justify-content-start">
          <p class="texto-label-oferta-card text-600">Horario:</p>
        </div>
        <div class="col-6 justify-content-end" style="text-align:right">
          <p class="texto-label-oferta-card text-900">{{ aspirante.plaza.horario | titlecase }}</p>
        </div>
      </div>
    </div>

    <div class="col-12 md:col-5 my-4 padding-compensacion">
      <p-card class="empty-border bg-secondary-blue-oferta-laboral">
      <div class="flex">
        <div class="flex col-12 flex-column p-0">
          <p class="card-compensacion-sub-titulo">Sueldo mensual</p>
          <div class="flex justify-content-start gap-4 my-2">
            <div class="flex flex-column">
              <p class="card-compensacion-seccion">Sueldo bruto</p>
      
              <p class="card-compensacion-titulo">{{ aspirante.plaza.sueldoMensualBruto | currency:'USD':'symbol':'1.2-2' }}
              </p>
            </div>
            <div class="flex align-items-end">
              <p class="card-compensacion-titulo">-</p>
            </div>
            <div class="flex flex-column">
              <p class="card-compensacion-seccion">Sueldo neto</p>
              <p class="card-compensacion-titulo">{{ aspirante.plaza.sueldoMensualNeto| currency:'USD':'symbol':'1.2-2' }}
              </p>
            </div>
          </div>
          <div class="flex justify-content-between p-0 mt-1">
            <div class="col-6 flex justify-content-start p-0">
              <p class="card-compensacion-seccion">Créditos:</p>
            </div>
            <div class="col-6 flex justify-content-start p-0">
              <p class="card-compensacion-seccion">{{ aspirante.plaza.creditos }} {{ aspirante.plaza.creditos! > 1 ?
                "Disponibles" : "Disponible" }}</p>
            </div>
          </div>
          <div class="flex justify-content-between p-0 mt-1">
            <div class="col-6 flex justify-content-start p-0">
              <p class="card-compensacion-seccion">Bono difícil:</p>
            </div>
            <div class="col-6 flex justify-content-start p-0">
              <p class="card-compensacion-seccion">{{ aspirante.plaza.bonoDificilCobertura ?
                aspirante.plaza.bonoDificilCobertura : "No" }}</p>
      
            </div>
          </div>
          <div class="flex justify-content-between p-0 mt-1">
            <div class="col-6 flex justify-content-start p-0">
              <p class="card-compensacion-seccion">Acceso a crédito:</p>
            </div>
            <div class="col-6 flex justify-content-start p-0">
              <p class="card-compensacion-seccion">{{ aspirante.plaza.accesoCredito ? 'Sí' : 'No' }}</p>
            </div>
          </div>
          @if (aspirante.plaza.accesoCredito) {
          @if (aspirante.plaza.creditoAutomotriz) {
          <div class="flex justify-content-between p-0 mt-1">
            <div class="col-6 flex justify-content-start p-0">
              <p class="card-compensacion-seccion">Crédito automotriz:</p>
            </div>
            <div class="col-6 flex justify-content-start p-0">
              <p class="card-compensacion-seccion">Monto máx {{ aspirante.plaza.creditoAutomotriz }}</p>
            </div>
          </div>
          }
          @if (aspirante.plaza.creditoHipotecario) {
          <div class="flex justify-content-between p-0 mt-1">
            <div class="col-6 flex justify-content-start p-0">
              <p class="card-compensacion-seccion">Crédito hipotecario:</p>
            </div>
            <div class="col-6 flex justify-content-start p-0">
              <p class="card-compensacion-seccion">Monto máx {{ aspirante.plaza.creditoHipotecario }}
              </p>
            </div>
          </div>
          }
          }
        </div>
      </div>
      </p-card>
    </div>
  </div>
</p-card>



<p-confirmDialog key="cambioRama" [style]="{width: '50vw'}" [baseZIndex]="10000" [closable]="true"
  styleClass="custom-title-confirm-dialog">
</p-confirmDialog>

<p-confirmDialog key="rechazoOferta" [style]="{width: '50vw'}" [baseZIndex]="10000" [closable]="true"
  styleClass="custom-form-confirm-dialog">
  <ng-template pTemplate="message">
    <div class="message-body">
      <p class="pregunta">¿Estás seguro de rechazar la oferta?</p>
      <label class="field-label" for="motivos">Seleccione el motivo del rechazo</label>
      <p-select [options]="motivos" inputId="motivos" optionLabel="label" optionValue="value"
        placeholder="Selecciona el motivo" class="w-full" appendTo="body" [(ngModel)]="motivoSeleccionado" />
    </div>
    <div class="acciones">
      <p-button type="button" label="Cancelar" severity="danger" variant="outlined"
        (click)="cancelarConfirmacion()"></p-button>

      <p-button type="button" label="Confirmar rechazo" variant="outlined" [disabled]="!motivoSeleccionado"
        (click)="confirmarRechazo()"></p-button>
    </div>
  </ng-template>
</p-confirmDialog>