@layer app-components {
  :root {
    --p-button-primary-background: red;
    --p-button-primary-color: var(--gob-mx-base-blanco)
  }

  .p-button {
    border-radius: 8px;
    font-size: 14px;
  }
}
