@layer app-components {
  :root {
    --p-button-primary-color: var(--gob-mx-base-blanco);
    --p-button-padding-x: 15px;
    --p-button-padding-y: 10px;
  }

  .p-button {
    border-radius: 8px;
    font-size: 14px;
    background: #08865C;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
  }
}
