@layer app-components {
  .p-card-body{
    border-top: 18px solid var(--bs-primary-hex-color);
    border-radius: 10px 10px 0 0;

  }

  .card-padding-0 > .p-card-body {
    padding: 0;
  }

  .empty-border .p-card-body {
    border-top: none;
    padding: 0;
  }

  .empty-border .p-card-title {
    padding: var(--p-card-body-padding);
  }

  .empty-border .p-card-content {
    padding: var(--p-card-body-padding);
  }
}
