@layer app-component {
  .pill-especialidad{
    padding: 0 10px;
    padding-bottom: 1px;
    border-radius: 25px;
    border: 1px solid #607EB3;
    span{
      color: #607EB3;
      text-align: center;
      font-family: "Noto Sans";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .py-150p {
    padding: 150px 0;
  }

  .lg\:col-fit {
    @media screen and (min-width: 992px) {
      flex: 0 0 auto !important;
      width: auto !important;
      max-width: 100%;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  .sin-salto {
    white-space: nowrap;
  }
}
