<div class="my-4"></div>
<p-card class="empty-border">
  <div class="flex flex-wrap">
    <article class="col-8">
      <div class="flex flex-row">
        <div class="flex flex-column col-4">
          <p>Neurocirugía</p>
          <p>Medicina familar</p>
        </div>
        <div class="flex flex-column col-2">
          <p>Regimen</p>
          <p>Ordinario</p>
        </div>
        <div class="flex flex-column col-2">
          <p>Turno</p>
          <p>Matutino</p>
        </div>
        <div class="flex flex-column col-2">
          <p>Tipo de plaza</p>
          <p>Operativa base</p>
        </div>
        <div class="flex flex-column col-2">
          <p>Marca de ocupación</p>
          <p>Definitiva</p>
        </div>
      </div>
      <hr>
      <div class="flex flex-row">
        <p>Hospital de Gineco Obstreticia No 60</p>
      </div>
      <div class="flex flex-row">
        <div class="flex flex-row">
          <div class="flex flex-column col-4">
            <p>Ubicación</p>
            <p>Estado de México</p>
          </div>
          <div class="flex flex-column col-2">
            <p>Zona</p>
            <p>Tlalnepantla</p>
          </div>
          <div class="flex flex-column col-6">
            <p>Dirección</p>
            <p>Carr. Federal Pachuca - México Manzana 036, Urbana Ixhuatepec, 55349 Ecatepec de Morelos, Méx</p>
          </div>
        </div>
      </div>
    </article>
    <article class="col-4 flex flex-column gap-2">
      <div class="flex justify-content-end">
        <p-rating [(ngModel)]="value" [stars]="1" />
      </div>
      <div class="flex justify-content-center">
        <p>Sueldo mensual</p>
      </div>
      <div class="flex justify-content-evenly">
        <div class="flex flex-column align-items-center gap-2">
          <p> $45,520 </p>
          <p> Estimado bruto </p>
        </div>
        <div class="flex flex-column align-items-center gap-2">
          <p> $41,140 </p>
          <p> Estimado neto </p>
        </div>
      </div>
      <div class="flex justify-content-center">
        <p>Ver más</p>
      </div>
    </article>
  </div>
</p-card>
