<div class="mt-4">
    <p-card class="empty-border">
        <div class="grid">

            <div class="col-12 grid align-content-center">
                <div class="col-fixed" style="width:45px">

                    @if(!totalCitas() || totalCitas()?.porcentajeEnviados == 0){
                    <div class="container-wave">

                        <span class="dot"></span>
                    </div>

                    }@else if(totalCitas() && totalCitas()?.porcentajeEnviados ?? 0 >= 100){
                    <p-avatar class="av full" shape="circle">
                        <span class="dot"></span>
                        <i class="pi pi-check" [style]="{color: 'white' ,'font-size': '2rem', 'font-weight': '600'}"></i>
                    </p-avatar>

                    }@else{
                    <div class="container-wave">
                        <div class="circle delay1"></div>
                        <div class="circle delay2"></div>
                        <span class="dot"></span>
                    </div>
                    }

                </div>
                <div class="col">
                    <span class="text-3xl font-bold">{{totalCitas()?.porcentajeEnviados ?? 0 }} % </span>
                    @if(totalCitas()?.porcentajeEnviados == 100){
                    <span class="text-lg">Completado</span>
                    }
                    <p-progressBar [value]="totalCitas()?.porcentajeEnviados ?? 0" class="pgB">
                        <ng-template pTemplate="content">
                        </ng-template>
                    </p-progressBar>
                </div>
            </div>
            <div class="col-12">
                <div class="grid">
                    <div class="col-12 lg:col-6 p-2">
                        <div class="grid p-2 m-2">
                            <div class="col-fixed ">
                                <p-avatar class="av-card" shape="circle">
                                    <span class="dot"></span>
                                    <i class="cme-citas"
                                        [style]="{color: 'white' ,'font-size': '1.7rem', 'font-weight': '200'}"></i>
                                </p-avatar>
                            </div>
                            <div class="col p-2 text-left">
                                <span class="font-semibold text-3xl">Última fecha de carga</span>
                            </div>
                            <div class="col-fixed grid card-fec-h border-round-2xl " style="width:177px">
                                <div class="col-fixed flex flex-column">
                                    <span class="font-normal text-base">Fecha inicio</span>
                                    <span class="font-semibold text-xl">{{totalCitas()?.fechasHorasEnvios?.fechaInicio
                                        ?? '-'}}</span>
                                </div>
                                <div class="col-fixed flex flex-column">
                                    <span class="font-normal text-base"> Hora</span>
                                    <span class="font-semibold text-xl">{{totalCitas()?.fechasHorasEnvios?.horaInicio ??
                                        '-'}} </span>
                                </div>
                            </div>
                        </div>
                        <div class="grid p2 m-2">
                            <div class="card-t-c border-round-2xl p-3 w-full">

                                <div class="col-12 font-bold text-lg">
                                    <span>Total de citas enviadas</span>
                                </div>
                                <hr class="c-hr">
                                <div class="col-12">
                                    <span class="cant">{{totalCitas()?.totalesEnviados}}</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 lg:col-6 p-2">
                        <div class="grid p-2 m-2">
                            <div class="col-fixed grid card-fec-h border-round-2xl " style="width:177px">
                                <div class="col-fixed flex flex-column">
                                    <span class="font-normal text-base">Fecha fin</span>
                                    <span class="font-semibold text-xl">{{totalCitas()?.fechasHorasEnvios?.fechaFin ??
                                        '-'}}</span>
                                </div>
                                <div class="col-fixed flex flex-column">
                                    <span class="font-normal text-base"> Hora</span>
                                    <span class="font-semibold text-xl">{{totalCitas()?.fechasHorasEnvios?.horaFin ??
                                        '-'}}
                                    </span>
                                </div>
                            </div>

                            <div class="col">

                            </div>

                            <div class="col-fixed ">
                                <p-button label="Enviar citas" (onClick)="onEnviarCitas()"
                                    [disabled]="!convocatoriaSelect() || !tipoMedicoSelect()"></p-button>
                            </div>
                        </div>
                        <div class="grid p2 m-2">
                            <div class="card-t-c border-round-2xl p-3 w-full">

                                <div class="col-12 font-bold text-lg">
                                    <span>Total de citas enviadas con error</span>
                                </div>
                                <hr class="c-hr">
                                <div class="col-12">
                                    <span class="cant">{{totalCitas()?.totalesNoEnviados}}</span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </p-card>
</div>