.footer-medico {
  bottom: -10px;
}

.bg-bottom {
  height: 20px;
  background-color: #4fa9d5;
}


@media (max-width: 767px) {
  .contenedor-footer {
    margin-top: 80px;
  }

  .text-xl {
    font-size: 14px !important;
  }

  .bg-bottom {
    height: 0;
  }
}

@media (max-width: 767px) {
  .footer-medico {
    background-color: #fff;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
}
