<div class="flex justify-content-start align-items-center gap-3">
  <btn-regresar/>
  <h3 class="titulo-seccion">Registro de médico interno</h3>
</div>

<p-card class="mx-2 my-4 empty-border">
  <section class="flex flex-column">
    <article class="flex flex-row p-4">
      <span class="flex-column">
        <p class="m-1 label-medico">Nombre del médico</p>
        <strong class="m-1 nombre-medico">Pablo Andres Garcia Bernal</strong>
      </span>
    </article>
    <article class="flex flex-row">
      <div class="justify-content-start flex">
        <icon-card iconClass="cme-user" cardColor="#1a73e8" [leftBorderRound]="true"></icon-card>
        <div class="flex flex-column justify-content-center mr-5">
          <p class="m-2 label-campo">Matricula</p>
          <strong class="m-2 texto-campo">XXXXXXXXX</strong>
        </div>
        <div class="flex flex-column justify-content-center mr-5">
          <p class="m-2 label-campo">CURP</p>
          <strong class="m-2 texto-campo">XXXXXXXXX</strong>
        </div>
        <icon-card iconClass="cme-document" cardColor="#00c853"></icon-card>
        <div class="flex flex-column justify-content-center">
          <p class="m-2 label-campo">Fecha de registro</p>
          <strong class="m-2 texto-campo">XXXXXXXXX</strong>
        </div>
      </div>
    </article>
  </section>
</p-card>

<p-card class="mx-2 mb-4 empty-border">
  <steps [currentStepIndex]="indice()" [steps]="steps"/>
</p-card>
@switch (indice()) {

  @case (0) {
    <form [formGroup]="formRegistro">
      <p-card class="mx-2 empty-border" [header]="'Datos Personales'">
        <section class="flex">
          <article class="col-3 flex flex-row">
            <p class="field-label">Fotografía</p>
            <upload-photo class="mt-6"/>
            <p class="label-obligatorio">Obligatorio</p>
          </article>
          <article class="col-9 flex flex-row flex-wrap">
            <div class="col-4">
              <div class="flex justify-content-between">
                <label class="field-label" for="rfc">RFC</label>
                <p class="label-obligatorio">Obligatorio</p>
              </div>
              <input pInputText class="w-full" type="text" id="rfc" placeholder="Ingresa RFC"
                     formControlName="rfc"/>
            </div>
            <div class="col-4">
              <div class="flex justify-content-between">
                <label class="field-label" for="nss">NSS</label>
                <p class="label-obligatorio">Obligatorio</p>
              </div>
              <input pInputText class="w-full" type="text" id="nss" placeholder="Ingresa NSS"
                     formControlName="nss"/>
            </div>
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-4">
              <div class="flex justify-content-between">
                <label class="field-label" for="hijos">¿Cuántos hijos?</label>
                <p class="label-obligatorio">Obligatorio</p>
              </div>
              <input pInputText class="w-full" type="text" id="hijos" placeholder="Número de hijos"
                     formControlName="hijos"/>
            </div>
            <div class="col-4">
              <div class="flex justify-content-between">
                <label class="field-label" for="otros">Otros</label>
                <p class="label-obligatorio">Obligatorio</p>
              </div>
              <input pInputText class="w-full" type="text" id="otros" placeholder="Especifica"
                     formControlName="otros"/>
            </div>
          </article>
        </section>
      </p-card>

      <p-card class="mx-2 empty-border" [header]="'Datos de Contacto'">
      </p-card>

      <p-card class="mx-2 empty-border" [header]="'Datos del Domicilio'">
      </p-card>

      <p-card class="mx-2 empty-border" [header]="'Zona de interes laboral'">
      </p-card>

    </form>
  }
  @case (1) {

  }
}
