<div class="flex justify-content-start align-items-center gap-2">
  <btn-regresar/>
  <h3>Registro de médico interno</h3>
</div>

<p-card class="mx-2 my-4 card-padding-0">
  <section class="flex flex-column">
    <article class="flex flex-row p-4">
      <span class="flex-column">
        <p class="m-1">Nombre del médico</p>
        <strong class="m-1">Pablo Andres Garcia Bernal</strong>
      </span>
    </article>
    <article class="flex flex-row">
      <div class="justify-content-start flex">
        <icon-card iconClass="pi pi-home" cardColor="#1a73e8" [leftBorderRound]="true"></icon-card>
        <div class="flex flex-column justify-content-center mr-5">
          <p class="m-2">Matricula</p>
          <strong class="m-2">XXXXXXXXX</strong>
        </div>
        <div class="flex flex-column justify-content-center mr-5">
          <p class="m-2">CURP</p>
          <strong class="m-2">XXXXXXXXX</strong>
        </div>
        <icon-card iconClass="pi pi-star" cardColor="#00c853"></icon-card>
        <div class="flex flex-column justify-content-center">
          <p class="m-2">Fecha de registro</p>
          <strong class="m-2">XXXXXXXXX</strong>
        </div>
      </div>
    </article>
  </section>
</p-card>

<p-card class="mx-2 my-4">
  <steps/>
</p-card>
