
  <div class="flex  flex-row gap-4 bg-azul-claro p-4 rounded rounded-4">
    <div class="flex-1 gap-4 p-4 rounded-lg shadow-sm bg-white border border-gray-200 flex items-center rounded rounded-4">
      <div class="mr-3 flex">
        <span class="circle amarillo flex justify-content-center align-items-center">
          <i class="pi pi-graduation-cap"></i>
        </span>
      </div>
      <div>
        <div class="font-medium text-gray-700">Becados</div>
        <div class="text-xl font-bold text-gray-900">
          {{ conteo.becados.actual }} / {{ conteo.becados.total }}
        </div>
      </div>
    </div>
    
    <div class="flex-1 gap-4 p-4 rounded-lg shadow-sm bg-white border border-gray-200 flex items-center rounded rounded-4">
      <div class="mr-3 flex">
        <span class="circle azul flex justify-content-center align-items-center">
          <i class="pi pi-user"></i>
        </span>
      </div>
      <div>
        <div class="font-medium text-gray-700">Residentes</div>
        <div class="text-xl font-bold text-gray-900">
          {{ conteo.residentes.actual }} / {{ conteo.residentes.total }}
        </div>
      </div>
    </div>
    
    <div class="flex-1 gap-4 p-4 rounded-lg shadow-sm bg-white border border-gray-200 flex items-center rounded rounded-4">
      <div class="mr-3 flex">
        <span class="circle aqua flex justify-content-center align-items-center">
          <i class="pi pi-users"></i>
        </span>
      </div>
      <div>
        <div class="font-medium text-gray-700">Externos</div>
        <div class="text-xl font-bold text-gray-900">
          {{ conteo.externos.actual }} / {{ conteo.externos.total }}
        </div>
      </div>
    </div>
  </div>