<section>
  <div class="flex justify-content-start align-items-center gap-1 mt-4 mb-4 lg:mt-0">
    <!-- <btn-regresar/> -->
    <h3 class="titulo-seccion">Asignación de plazas</h3>
  </div>

  <header class="buscador-background flex justify-content-center align-items-center ">
    <form [formGroup]="form" class="p-fluid" (ngSubmit)="onBuscar()">
      <div>
        <h2 class="titulo-asignaciones">Búsqueda por matrícula/folio</h2>
        <div class="search_form">
          <div class="md:col-4 col-12 flex align-content-center flex-1 gap-3 pt-4">
            <input pInputText class="w-full" type="text" id="folio"
                placeholder="Ingrese su matrícula/folio"
                formControlName="folio"
                />
            <p-button type="button" variant="outlined" label="Limpiar"  (click)="onLimpiar()" [disabled]="form.invalid"  />
            <p-button type="submit" label="Buscar" [disabled]="form.invalid"  />
          </div>
        </div>
      </div>
    </form>
  </header>
  <main>
    <!-- Estado vacío -->
    <div class="content" *ngIf="!exist">
      <div class="empty">
        <img class="empty__img" src="/assets/images/tabla_sin_resultados.svg" alt="Sin resultados" />
        <p class="empty__text">No hay resultados de búsqueda</p>
      </div>
    </div>
    
    <div *ngIf="exist">
      
      <app-info-aspirante [infoAspirante]="busqueda.datosGenerales!" [tipo]="1"></app-info-aspirante>

      <!--**ESCENARIO TABS-->
      <div class="py-1 px-4 md:bg-white border-round-xl mb-4">
        <p-tabs [value]="tab" class="tab-documentacion">
          <p-tablist class="flex flex-row">
            <p-tab [value]="0" (click)="tab = 0" class="w-auto">
              <div class="header-tab-documentacion">
                <i class="cme-coplamar me-3"
                  [ngStyle]="{
                    'color': tab == 0 ? '#404041' : '#ADB8CC'
                  }"
              style="font-size: 1.4rem"></i>
                <p>Plazas ordinarias</p>
              </div>
            </p-tab>
            <p-tab [value]="1" (click)="tab = 1" class="w-auto">
              <div class="header-tab-documentacion">
                <i class="cme-coplamar me-3"
                  [ngStyle]="{
                    'color': tab == 1 ? '#404041' : '#ADB8CC'
                    }"
                  style="font-size: 1.4rem"></i>
                <p>COPLAMAR</p>
              </div>
            </p-tab>

              <p-tab [value]="2" (click)="tab = 2" class="w-auto">
                <div class="header-tab-documentacion">
                  <i class="cme-sustitucion me-3"
                    [ngStyle]="{
                      'color': tab == 2 ? '#404041' : '#ADB8CC'
                      }"
                    style="font-size: 1.4rem"></i>
                  <p>Asignación de sustitución</p>
                </div>
              </p-tab>

          </p-tablist>
        </p-tabs>
      </div>
      @switch (tab) {
        @case (0) {
          <app-plaza-ordinaria></app-plaza-ordinaria>
        }
        @case (1) {
          <app-coplamar></app-coplamar>
        }
        @case (2) {
          <app-asignacion-sustitucion></app-asignacion-sustitucion>
        }
      }
      <!--**ESCENARIO TABS-->
    </div>
  </main>
</section>


