
<!--**ESCENARIO TABS-->
<div class="py-1 px-4 md:bg-white border-round-xl mb-4">
  <p-tabs [value]="tab" class="tab-documentacion">
    <p-tablist class="flex flex-row">
      <p-tab [value]="0" (click)="tab = 0" class="w-auto">
        <div class="header-tab-documentacion">
          <i class="cme-coplamar me-3"
            [ngStyle]="{
              'color': tab == 0 ? '#404041' : '#ADB8CC'
            }"
         style="font-size: 1.4rem"></i>
          <p>Plazas ordinarias</p>
        </div>
      </p-tab>
      <p-tab [value]="1" (click)="tab = 1" class="w-auto">
        <div class="header-tab-documentacion">
          <i class="cme-coplamar me-3"
             [ngStyle]="{
              'color': tab == 1 ? '#404041' : '#ADB8CC'
              }"
             style="font-size: 1.4rem"></i>
          <p>COPLAMAR</p>
        </div>
      </p-tab>

        <p-tab [value]="2" (click)="tab = 2" class="w-auto">
          <div class="header-tab-documentacion">
            <i class="cme-sustitucion me-3"
               [ngStyle]="{
                'color': tab == 2 ? '#404041' : '#ADB8CC'
                }"
               style="font-size: 1.4rem"></i>
            <p>Asignación de sustitución</p>
          </div>
        </p-tab>

    </p-tablist>
  </p-tabs>
</div>
@switch (tab) {
  @case (0) {
    <app-plaza-ordinaria></app-plaza-ordinaria>
  }
  @case (1) {
    <app-coplamar></app-coplamar>
  }
  @case (2) {
    <app-asignacion-sustitucion></app-asignacion-sustitucion>
  }
}
<!--**ESCENARIO TABS-->
