<main class="flex  login-background">
    <aside class="col-6 flex flex-column justify-content-center align-items-center p-6">
        <h1 class="login-titulo">{{_Mensajes.MSJ_TITULO_CONVOCATORIA}}</h1>
        <h2 class="login-subtitulo">{{_Mensajes.MSJ_SUBTITULO_CONVOCATORIA}}</h2>
    </aside>
    <section class="col-6  flex justify-content-center align-items-center vertical-align:middle align-items:center">



        <p-card class="top-rounded-card" [style]="{ width: '45rem', overflow: 'hidden'  }">
            <section class="flex flex-column">
                <article class="flex flex-row p-4">
                    <form [formGroup]="form" (ngSubmit)="btnCrearCuenta()">




                        <div class="flex  align-items-center gap-2 bordeTitulo" >
                            <div class="flex justify-content-start col-1">
                                <btn-regresar [ruta]="ruta" />
                            </div>
                            <div class="flex justify-content-center col-11">
                                <h2 class="login-card-titulo">{{strTitulo}}</h2>
                            </div>
                          
                        </div>


                  
                        @if(medico.perfil == 1){
                        <div class=" mt-4 row flex">
                            <div class="field col-9">
                                <label class="field-label" for="matricula">Matrícula</label>
                                <input pInputText class="w-full" type="text" id="matricula"
                                    (keypress)="inMatricula = true"
                                    (input)="onlyNumbers($event)"
                                    placeholder="Ingresa matrícula" maxlength="10"
                                    autocomplete="off" formControlName="matricula"
                                    (keyup)="desbloquearValidarMatricula()" (change)="btnValidarMatricula()"/>
                                    @if(inMatricula){
                                        @for (validation of msjValidation.matricula; track validation.msj) {   
                                            @if(f['matricula'].errors?.[validation.type]){
                                                <p class="text-danger">{{validation.msj}}</p>
                                            }
                                        }
                                    }
                            </div>

                            <div class="field col-3 flex justify-content-end vertical-align:middle" style="padding-top: 30px;">
                                <p-button class="bg-white " label="Validar" [disabled]="blnBtnValidar" (click)="btnValidarMatricula()" />
                            </div>
                        </div>
                        
                        <div class=" mt-4 row flex">

                            <div class="field col-12">
                                <label class="field-label" for="nombre">Nombres(s)</label>
                                <input pInputText class="w-full" type="text" id="nombre" placeholder="Ingresa nombre"
                                    autocomplete="off"
                                    (keypress)="inNombre = true"
                                    formControlName="nombre" maxlength="40" />
                                    @if(inNombre){
                                        @for (validation of msjValidation.nombre; track validation.msj) {   
                                            @if(f['nombre'].errors?.[validation.type]){
                                                <p class="text-danger">{{validation.msj}}</p>
                                            }
                                        }
                                    }
                            </div>


                        </div>
                        }
                        @if(medico.perfil == 2){
                        <div class=" mt-4 row flex">
                            <div class="field col-12">
                                <label class="field-label" for="modalidad">Modalidad del médico</label>
                                <p-select id="modalidad" formControlName="modalidad" [options]="lstModalidad"
                                    optionLabel="descripcion" optionValue="id" placeholder="Selecciona una modalidad"
                                    class="w-full" (ngModelChange)="cambiaModalidad()">
                                </p-select>
                            </div>
                        </div>
                        }
                        @if(!medico.blnPasaporte && medico.perfil == 2){
                        <div class=" mt-4 row flex">
                            <div class="field col-9">
                                <label class="field-label" for="curp">CURP</label>
                                <input pInputText class="w-full" type="text" id="curp" placeholder="Ingresa CURP"
                                    maxlength="18" autocomplete="off" formControlName="curp"
                                    (keypress)="inCurp = true" (change)="btnValidarCurp()"
                                    (keyup)="desbloquearValidar(); convertMayusculas($event);" />
                                    @if(inCurp){
                                        @for (validation of msjValidation.curp; track validation.msj) {   
                                            @if(f['curp'].errors?.[validation.type]){
                                                <p class="text-danger">{{validation.msj}}</p>
                                            }
                                        }
                                    }
                            </div>

                            <div class="field col-3 flex justify-content-end vertical-align:middle" style="padding-top: 30px;">
                                <p-button class="btn-outLine" label="Validar" [disabled]="blnBtnValidar" (click)="btnValidarCurp()" />
                            </div>

                        </div>

                        <div class=" mt-4 row flex">

                            <div class="field col-6">
                                <label class="field-label" for="rfc">RFC</label>
                                <input pInputText class="w-full" type="text" id="rfc" placeholder="Ingresa RFC"
                                    autocomplete="off"  (keypress)="inRfc = true" formControlName="rfc" maxlength="13" 
                                    (keyup)="convertMayusculas($event);" />
                                    @if(inRfc){
                                        @for (validation of msjValidation.rfc; track validation.msj) {   
                                            @if(f['rfc'].errors?.[validation.type]){
                                                <p class="text-danger">{{validation.msj}}</p>
                                            }
                                        }
                                    }
                            </div>
                            <div class="field col-6">

                                <label class="field-label" for="nombre">Nombres(s)</label>
                                <input #input pInputText class="w-full" type="text" id="nombre"
                                    placeholder="Ingresa nombre(s)"  (keypress)="inNombre = true"  autocomplete="off" formControlName="nombre" />
                                    @if(inNombre){
                                        @for (validation of msjValidation.nombre; track validation.msj) {   
                                            @if(f['nombre'].errors?.[validation.type]){
                                                <p class="text-danger">{{validation.msj}}</p>
                                            }
                                        }
                                    }

                            </div>

                        </div>

                        } @else if (medico.blnPasaporte && medico.perfil == 2) {

                        <div class=" mt-4 row flex">

                            <div class="field col-6">
                                <label class="field-label" for="pasaporte">Pasaporte</label>
                                <input pInputText class="w-full" type="text" id="pasaporte"
                                    placeholder="Ingresa pasaporte" (keypress)="inPasaporte = true" autocomplete="off" formControlName="pasaporte"
                                    maxlength="13" />
                                    @if(inPasaporte){
                                        @for (validation of msjValidation.pasaporte; track validation.msj) {   
                                            @if(f['pasaporte'].errors?.[validation.type]){
                                                <p class="text-danger">{{validation.msj}}</p>
                                            }
                                        }
                                    }
                            </div>
                            <div class="field col-6">

                                <label class="field-label" for="pais">País</label>
                                <input #input pInputText class="w-full" type="text" id="pais" placeholder="Ingresa país"
                                    autocomplete="off" formControlName="pais" (keypress)="inPais = true"  />
                                    @if(inPais){
                                        @for (validation of msjValidation.pais; track validation.msj) {   
                                            @if(f['pais'].errors?.[validation.type]){
                                                <p class="text-danger">{{validation.msj}}</p>
                                            }
                                        }
                                    }

                            </div>

                        </div>
                        <div class=" mt-4 row flex">

                            <div class="field col-12">
                                <label class="field-label" for="nombre">Nombres(s)</label>
                                <input pInputText class="w-full" type="text" id="nombre" placeholder="Ingresa nombre"
                                    autocomplete="off" (keypress)="inNombre = true"  formControlName="nombre" maxlength="150" />
                                    @if(inNombre){
                                        @for (validation of msjValidation.nombre; track validation.msj) {   
                                            @if(f['nombre'].errors?.[validation.type]){
                                                <p class="text-danger">{{validation.msj}}</p>
                                            }
                                        }
                                    }
                            </div>


                        </div>
                        }


                        <div class=" mt-4 row flex">
                            <div class="field col-6">
                                <label class="field-label" for="apellidoP">Primer apellido</label>
                                <input pInputText class="w-full" type="text" id="apellidoP" autocomplete="off"
                                    placeholder="Ingresa primer apellido" (keypress)="inAp = true"  formControlName="apellidoP" />
                                    @if(inAp){
                                        @for (validation of msjValidation.apellidoP; track validation.msj) {   
                                            @if(f['apellidoP'].errors?.[validation.type]){
                                                <p class="text-danger">{{validation.msj}}</p>
                                            }
                                        }
                                    }
                            </div>
                            <div class="field col-6">
                                <label class="field-label" for="apellidoM">Segundo apellido</label>
                                <input pInputText class="w-full" type="text" id="apellidoM" autocomplete="off"
                                    placeholder="Ingresa segundo apellido" (keypress)="inAm = true"  formControlName="apellidoM" />
                                    @if(inAm){
                                        @for (validation of msjValidation.apellidoM; track validation.msj) {   
                                            @if(f['apellidoM'].errors?.[validation.type]){
                                                <p class="text-danger">{{validation.msj}}</p>
                                            }
                                        }
                                    }
                            </div>

                        </div>
                        @if(medico.blnPasaporte || medico.perfil == 1){
                        <div class=" mt-4 row flex">
                            <div class="field col-6">

                                <label class="field-label" for="curp">CURP</label>
                                <input #input pInputText class="w-full" type="text" id="curp" placeholder="Ingresa CURP"
                                    autocomplete="off" (keypress)="inCurp = true" formControlName="curp" maxlength="18"
                                    (change)="dinamicoCurp()"
                                     (keyup)="convertMayusculas($event);" />
                                    @if(inCurp){
                                        @for (validation of msjValidation.curp; track validation.msj) {   
                                            @if(f['curp'].errors?.[validation.type]){
                                                <p class="text-danger">{{validation.msj}}</p>
                                            }
                                        }
                                    }

                            </div>


                            <div class="field col-6">
                                <label class="field-label" for="rfc">RFC</label>
                                <input pInputText class="w-full" type="text" id="rfc" placeholder="Ingresa RFC"
                                    autocomplete="off" (keypress)="inRfc = true" formControlName="rfc" maxlength="13" 
                                    (keyup)="convertMayusculas($event);" />
                                    @if(inRfc){
                                        @for (validation of msjValidation.rfc; track validation.msj) {   
                                            @if(f['rfc'].errors?.[validation.type]){
                                                <p class="text-danger">{{validation.msj}}</p>
                                            }
                                        }
                                    }
                            </div>

                        </div>

                        }


                        <div class=" mt-4 row flex">
                            <div class="field col-6">
                                <label class="field-label" for="correo">Correo electrónico</label>
                                <input pInputText class="w-full" type="text" id="correo"
                                    placeholder="Ingresa correo electrónico" (keypress)="inCorreo = true" formControlName="correo" autocomplete="off"
                                    (change)="validarCorreo()" (change)="compararCorreos()" (keyup)="convertMinusculas($event);" />
                                    @if(inCorreo){
                                        @for (validation of msjValidation.correo; track validation.msj) {   
                                            @if(f['correo'].errors?.[validation.type]){
                                                <p class="text-danger">{{validation.msj}}</p>
                                            }
                                        }
                                    }
                            </div>
                            <div class="field col-6">
                                <label class="field-label" for="correoc">Confirmar correo electrónico</label>
                                <input pInputText class="w-full" type="text" id="correoc" autocomplete="off"
                                    placeholder="Confirmar correo electrónico" (keypress)="inCorreo2 = true" formControlName="correoc"
                                    (keyup)="convertMinusculas($event);" (change)="compararCorreos()" />
                                    @if(inCorreo2){
                                        @for (validation of msjValidation.correoc; track validation.msj) {   
                                            @if(f['correoc'].errors?.[validation.type]){
                                                <p class="text-danger">{{validation.msj}}</p>
                                            }
                                        }
                                    }
                            </div>

                        </div>

                        <div class=" mt-4 row flex">
                            <div class="form-icon col-6">
                                <label class="field-label" for="pass">Contraseña</label>
                                <input #input pInputText class="w-full" type="password" id="pass"
                                    placeholder="Ingresa contraseña" autocomplete="off" (keypress)="inPass = true"  formControlName="pass"
                                    minlength="8" maxlength="12" (change)="compararPassword()" />
                                    <i [ngClass]="{'pi-eye': input.type==='password', 'pi-eye-slash':  input.type ==='text'}"
                                    class="cursor-pointer icon pi"
                                    (click)="input.type = input.type==='password'?'text':'password'"></i>
                                    @if(inPass){
                                        @for (validation of msjValidation.pass; track validation.msj) {   
                                            @if(f['pass'].errors?.[validation.type]){
                                                <p class="text-danger">{{validation.msj}}</p>
                                            }
                                        }
                                    }
                            </div>
                            <div class="form-icon col-6">
                                <label class="field-label" for="passc">Confirmar contraseña</label>
                                <input #input2 pInputText class="w-full" type="password" id="passc"
                                    placeholder="Confirmar contraseña" autocomplete="off"  (keypress)="inPass2 = true"  formControlName="passc"
                                    minlength="8" maxlength="12" (change)="compararPassword()" />
                                    <i [ngClass]="{'pi-eye': input2.type==='password', 'pi-eye-slash':  input2.type ==='text'}"
                                    class="cursor-pointer icon pi"
                                    (click)="input2.type = input2.type==='password'?'text':'password'"></i>
                                    @if(inPass2){
                                        @for (validation of msjValidation.passc; track validation.msj) {   
                                            @if(f['passc'].errors?.[validation.type]){
                                                <p class="text-danger">{{validation.msj}}</p>
                                            }
                                        }
                                    }
                            </div>

                        </div>

                        <div class=" mt-4   flex justify-content-end">

                            <p-button label="Crear Cuenta" type="submit"  />


                        </div>
                    </form>
                </article>

            </section>
        </p-card>




    </section>


</main>