<p-card class="empty-border">

    <div class="grid">
        <div class="col-12 sm:col-12 md:col-6 lg:col-4 ">
            <div class="field">
                <label class="field-label" for="idConvocatoria">Convocatoria</label>
                <p-select [options]="convocatorias" [(ngModel)]="convocatoriaSelect"
                    placeholder="Selecciona una convocatoria" optionLabel="desConvocatoria" optionValue="idConvocatoria"
                    class="w-full"></p-select>
            </div>
        </div>
        <div class="col-12">
            <label class="field-label text-lg font-semibold" for="medicos">Médicos aspirantes </label>
            <div id="medicos" class="grid mt-1 ">
                <div class="col-12 sm:col-6 lg:col-3">
                    <div class="card-med becados border-round-2xl p-3 pointer"
                        [class.select]="tipoMedSelect() == tipoMed.BECADOS">
                        <div class="flex flex-column">
                            <label class="card-label mb-0" for="numB">Total de Médicos becados </label>
                            <div class="card-num" id="numB">{{totalCitas()?.totalBecados ?? '-'}} </div>
                            <div class="flex justify-content-end">
                                <p-button styleClass="btn-ir p-0" [text]="true" [plain]="true" size="small"
                                    (onClick)="onCambioMedSelec(tipoMed.BECADOS)">
                                    <span class="p-button-label-ir">Ir</span>
                                    <i class="pi pi-arrow-right"></i>
                                </p-button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-12 sm:col-6 lg:col-3">
                    <div class="card-med residentes border-round-2xl p-3"
                        [class.select]="tipoMedSelect() == tipoMed.RESIDENTES">
                        <div class="flex flex-column">
                            <label class="card-label" for="numB">Total de Médicos residentes </label>
                            <div class="card-num" id="numB">{{totalCitas()?.totalResidentes ?? '-'}}</div>
                            <div class="flex justify-content-end">
                                <p-button styleClass="btn-ir p-0" [text]="true" [plain]="true" size="small"
                                    (onClick)="onCambioMedSelec(tipoMed.RESIDENTES)">
                                    <span class="p-button-label-ir">Ir</span>
                                    <i class="pi pi-arrow-right"></i>
                                </p-button>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-12 sm:col-6 lg:col-3">
                    <div class="card-med externos border-round-2xl p-3"
                        [class.select]="tipoMedSelect() == tipoMed.EXTERNOS">
                        <div class="flex flex-column">
                            <label class="card-label" for="numB">Total de Médicos externos </label>
                            <div class="card-num" id="numB">{{totalCitas()?.totalExternos ?? '-'}}</div>
                            <div class="flex justify-content-end">
                                <p-button styleClass="btn-ir p-0" [text]="true" [plain]="true" size="small"
                                    (onClick)="onCambioMedSelec(tipoMed.EXTERNOS)">
                                    <span class="p-button-label-ir">Ir</span>
                                    <i class="pi pi-arrow-right"></i>
                                </p-button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 sm:col-6 lg:col-3">
                    <div class="card-med total border-round-2xl p-3">
                        <div class="flex flex-column">
                            <label class="card-label" for="numB">Total de médicos</label>
                            <div class="card-num" id="numB">{{totalCitas()?.totalMedicos ?? '-'}}</div>

                        </div>

                    </div>
                </div>




            </div>

        </div>
    </div>

</p-card>