@layer app-root {

    :root {
        --p-tabs-tablist-border-color: transparent;
        --p-tabs-tab-border-color: transparent;
    }

    :host ::ng-deep .no-icono .p-iconwrapper {
        display: none;
    }

    .p-accordionheader {
        border: none;
        box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.10);
        margin: 5px 0;
    }

    .p-accordionpanel-active {
        .p-accordionheader {
            background-color: #41ABCA;
            color: #fff;

            .titulo-opcion-menu-asignacion {
                color: white !important;
            }
        }
    }

    .sub-opcion {
        box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.10);
    }

    .seleccion {
        border-left: 4px solid #41ABCA;
    }
}