<div class="border-round-2xl bg-white h-full p-2">
    <p clasS="titulo-menu-asignacion m-3">{{tituloMenu}}</p>

    <p-accordion value="-1">
        <p-accordion-panel value="0" class="no-icono">
            <p-accordion-header>
                <div class="flex align-items-center gap-2">
                    <p class="titulo-opcion-menu-asignacion">Gestión de Asistencias</p>
                </div>
            </p-accordion-header>
        </p-accordion-panel>

        <p-accordion-panel value="1" class="no-icono">
            <p-accordion-header>
                <div class="flex align-items-center gap-2">
                    <p class="titulo-opcion-menu-asignacion">Tablero de asistencia</p>
                </div>
            </p-accordion-header>
        </p-accordion-panel>

        <p-accordion-panel value="2" class="no-icono">
            <p-accordion-header>
                <div class="flex align-items-center gap-2">
                    <p class="titulo-opcion-menu-asignacion">Asistencia</p>
                </div>
            </p-accordion-header>
        </p-accordion-panel>



    </p-accordion>
</div>