<p-card class="empty-border">
    <!-- Formulario -->
    <p-card class="empty-border p-4">
        <form [formGroup]="formulario">
            <div class="grid">
                <div class="col-12 lg:col">
                    <div class="formgrid grid gap-4">
                        <div class="field col">
                            <label class="field-label" for="idConvocatoria">No. de convocatoria</label>
                            <p-select [options]="convocatorias" formControlName="idConvocatoria"
                                placeholder="Selecciona una convocatoria" optionLabel="desConvocatoria"
                                optionValue="idConvocatoria" class="w-full">
                            </p-select>
                        </div>

                        <div class="field col">
                            <label class="field-label" for="numMesasDisponibles">No. de mesas disponibles</label>
                            <p-inputNumber formControlName="numMesasDisponibles" placeholder="Número de mesas"
                                class="w-full" [showButtons]="true" [min]="1">
                            </p-inputNumber>
                        </div>

                        <div class="field col">
                            <label class="field-label" for="numMedicosPorMesa">No. de médicos por mesa</label>
                            <p-inputNumber formControlName="numMedicosPorMesa" placeholder="Médicos por mesa"
                                class="w-full" [showButtons]="true" [min]="1">
                            </p-inputNumber>
                        </div>
                    </div>
                </div>

                <div class="lg:col-fixed col-12 flex-column flex justify-content-end" style="width:213px">
                    <p-button label="Guardar configuración" (onClick)="guardarConfiguracion()"
                        [disabled]="formulario.invalid">
                    </p-button>
                </div>
            </div>
        </form>
    </p-card>

    <!-- Tabla -->
    <p-card class="empty-border">
        <h3 class="text-lg font-semibold mb-4">Tabla de convocatorias</h3>
        <p-table [value]="configuracionMesasTabla()" [scrollable]="true" [resizableColumns]="true"
            [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th pResizableColumn>No. de convocatoria</th>
                    <th pResizableColumn>No. de mesas disponibles</th>
                    <th pResizableColumn>No. de médicos por mesa</th>
                    <th pResizableColumn>Estatus</th>
                    <th pResizableColumn>% de configuración</th>
                    <th style="min-width: 100px" alignFrozen="right" pFrozenColumn>Acciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
                <tr>
                    <td>
                        @if(row.estatus == 'PENDIENTE' || row.porcentajeConfiguracion
                        < 100){ <p-button [label]="row.desConvocatoria" [link]="true" class="link-nom-conv p-0"
                            (onClick)="onSeleccion(row)" />
                        }@else {
                            <span class="link-nom-conv">{{row.desConvocatoria}}</span>
                        }

                    </td>
                    <td>{{ row.numMesasDisponibles || '-' }}</td>
                    <td>{{ row.numMedicosPorMesa || '-' }}</td>
                    <td>
                        <p-tag [class]="'p-tag ' + (row.estatus === 'PENDIENTE'? 'p-tag-info' : 'p-tag-success')"
                            [value]="row.estatus">
                        </p-tag>
                    </td>
                    <td>{{ row.porcentajeConfiguracion}}%</td>
                    <td alignFrozen="right" pFrozenColumn>
                        <div class="flex align-items-center justify-content-center">
                            <i class="cme-ellipsis cursor-pointer border-round-3xl" onkeypress=""
                                [style]="{ 'font-size': '2.2rem', color: '#a9c9f8', background: '#f6faff' }">
                            </i>
                        </div>
                        <p-popover #op>
                            <ng-template #content>
                                <div class="flex align-items-center boton-descargar cursor-pointer "
                                    (click)="onEditar(row)" onkeypress="">
                                    <i class=" pi pi-pencil" [style]="{ 'font-size': '1.2rem', color: '#a9c9f8'}"></i>
                                    <span class="ms-2 acciones-tabla">Editar</span>
                                </div>
                            </ng-template>
                        </p-popover>
                    </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="6">
                        <div class="flex justify-content-center align-items-center flex-column">
                            <img class="p-0" src="/assets/images/tabla_sin_resultados.svg"
                                alt="No hay resultados de búsqueda">
                            <p>No hay resultados de búsqueda</p>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <p-paginator class="paginator-oferta" (onPageChange)="cambiarPagina($event)" [first]="first" [rows]="rows"
            [totalRecords]="totalElementos">

            <ng-template pTemplate="previouspagelinkicon">
                <div class="flex align-items-center">
                    <span class="pi pi-chevron-left text-xl font-normal mr-2"></span>
                    <span class="font-semibold mr-5">Anterior</span>
                </div>
            </ng-template>
            <ng-template pTemplate="nextpagelinkicon">
                <div class="flex align-items-center">
                    <span class="font-semibold ml-5">Siguiente</span>
                    <span class="pi pi-chevron-right text-xl font-normal ml-2"></span>
                </div>
            </ng-template>
        </p-paginator>
    </p-card>
</p-card>

<p-dialog header="Editar configuración" [(visible)]="visible" [modal]="true" [style]="{ 'max-width': '560px' }"
    draggable="false" resizable="false" styleClass="dialogEdit">
    <span class="btg"></span>
    <form [formGroup]="formularioEdicion">
        <div class="grid">
            <div class="col-12 lg:col">
                <div class="formgrid grid gap-4">
                    <div class="field col">
                        <label class="field-label" for="idConvocatoria">No. de convocatoria</label>
                        <p-select [options]="convocatorias" formControlName="idConvocatoria"
                            placeholder="Selecciona una convocatoria" optionLabel="desConvocatoria"
                            optionValue="idConvocatoria" class="w-full">
                        </p-select>
                    </div>

                    <div class="field col">
                        <label class="field-label" for="numMesasDisponibles">No. de mesas disponibles</label>
                        <p-inputNumber formControlName="numMesasDisponibles" placeholder="Número de mesas"
                            class="w-full" [showButtons]="true" [min]="1">
                        </p-inputNumber>
                    </div>

                    <div class="field col">
                        <label class="field-label" for="numMedicosPorMesa">No. de médicos por mesa</label>
                        <p-inputNumber formControlName="numMedicosPorMesa" placeholder="Médicos por mesa" class="w-full"
                            [showButtons]="true" [min]="1">
                        </p-inputNumber>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-content-end gap-2 mt-3">
            <p-button label="Cancelar" [outlined]="true" severity="danger" (onClick)="visible = false" />
            <p-button label="Aceptar (No hay servicio de actualizacion )" [outlined]="true" severity="success"
                (onClick)="guardarConfiguracionUpdate(formularioEdicion.value); visible = false" />
        </div>
    </form>
</p-dialog>