<p-card class=" empty-border">
    <!-- Formulario -->
    <p-card class="empty-border p-4">
        <form [formGroup]="formulario">
            <div class=" grid ">
                <div class="col-12 lg:col">
                    <div class="formgrid grid gap-4">
                        <div class="field col">
                            <label class="field-label" for="convocatoriaId">No. de convocatoria</label>
                            <p-select [options]="convocatorias" formControlName="convocatoriaId"
                                placeholder="Selecciona una convocatoria" optionLabel="desConvocatoria" optionValue="idConvocatoria"
                                class="w-full" placeholder="No. de convocatoria" ></p-select>
                        </div>

                        <div class="field col ">
                            <label class="field-label" for="mesas">No. de mesas disponibles</label>
                            <p-inputNumber formControlName="mesas"
                                placeholder="Selecciona número de mesas" optionLabel="label" optionValue="value"
                                class="w-full" placeholder="Selecciona un número de mesas" [showButtons]="true"  [min]="1" />
                        </div>

                        <div class="field col">
                            <label class="field-label" for="medicos">No. de médicos por mesa</label>
                            <p-inputNumber formControlName="medicos"
                                placeholder="Selecciona médicos por mesa" optionLabel="label" optionValue="value"
                                class="w-full" placeholder="Selecciona el número de médicos" [showButtons]="true"  [min]="1"/>
                        </div>
                    </div>
                </div>

                <div class="lg:col-fixed col-12 flex-column flex justify-content-end" style="width:213px">
                    <p-button label="Guardar configuración" (onClick)="guardarConfiguracion()"
                        [disabled]="formulario.invalid"></p-button>
                </div>
            </div>


        </form>

    </p-card>

    <!-- Tabla -->
    <p-card class="empty-border">
        <h3 class="text-lg font-semibold mb-4">Tabla de convocatorias</h3>

        <p-table [value]="convocatoriasTabla" [scrollable]="true" [resizableColumns]="true"
            [tableStyle]="{'min-width': '50rem'}"> >
            <ng-template pTemplate="header">
                <tr>
                    <th pResizableColumn>No. de convocatoria</th>
                    <th pResizableColumn>No. de mesas disponibles</th>
                    <th pResizableColumn>No. de médicos por mesa</th>
                    <th pResizableColumn>Estatus</th>
                    <th pResizableColumn>% de configuración</th>
                    <th style="min-width: 100px" alignFrozen="right" pFrozenColumn>Acciones</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-row>
                <tr>
                    <td><p-button label="{{ row.nombre }}" [link]="true" class="link-nom-conv"
                            (onClick)="onSeleccion(row)" /></td>
                    <td>{{ row.mesas }}</td>
                    <td>{{ row.medicosPorMesa }}</td>
                    <td>
                        <p-tag class="p-tag p-tag-info" *ngIf="row.idEstatus === 1">{{ row.estatus }}</p-tag>
                        <p-tag class="p-tag p-tag-success" *ngIf="row.idEstatus === 2">{{ row.estatus}}</p-tag>
                    </td>
                    <td>{{ row.porcentaje }}%</td>
                    <td alignFrozen="right" pFrozenColumn>



                        <div class="flex align-items-center justify-content-center">
                            <i class="cme-ellipsis cursor-pointer border-round-3xl"
                                [style]="{ 'font-size': '2.2rem', color: '#a9c9f8', background: '#f6faff' }"></i>
                        </div>




                    </td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="10">
                        <div class="flex justify-content-center align-items-center">
                            <img class="p-0" src="/assets/images/tabla_sin_resultados.svg" alt="Sin resultados">
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <p-paginator class="paginator-oferta" (onPageChange)="cambiarPagina($event)" [first]="first" [rows]="rows"
            [totalRecords]="totalElementos">
            <ng-template pTemplate="previouspagelinkicon">
                <div class="flex align-items-center">
                    <span class="pi pi-chevron-left text-xl font-normal mr-2"></span>
                    <span class="font-semibold mr-5">Anterior</span>
                </div>
            </ng-template>
            <ng-template pTemplate="nextpagelinkicon">
                <div class="flex align-items-center">
                    <span class="font-semibold ml-5">Siguiente</span>
                    <span class="pi pi-chevron-right text-xl font-normal ml-2"></span>
                </div>
            </ng-template>
        </p-paginator>
    </p-card>
</p-card>