:host {
  display: block;
}

::ng-deep .link-nom-conv {
  font-weight: 300;
  color: #007AFF !important;

  .p-button {
    padding: 0;

  }

  .p-button-label {
    font-weight: 300;
    color: #007AFF !important;
  }
}

::ng-deep .dialogEdit {
  border-radius: 8px;
  border-top: #0F9B9B solid 10px;
}

::ng-deep .p-paginator-page-selected{
  background: var(--Header, #611232);
}
