
.bg-blue-header {
    background: #41ABD9
}

.titulo {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.vertical-border {
    color: #FFF;
}
