<div class="mt-4">
    <p-card class="empty-border" header="Proceso de Asignación">

        <div class="shadow-1 border-round-2xl p-2">
            <ul class="list-disc pl-5 space-y-2  text-base">
                <li>El sistema identifica la especialidad de los médicos aspirantes becados y busca la mesa de
                    asignación
                    correspondiente en el módulo de Asignación de mesas.</li>
                <li>El sistema ordena a todos los médicos becados de cada especialidad de mayor a menor, basándose en su
                    calificación. Los médicos con las mejores calificaciones son atendidos primero.</li>
                <li>Basado en el orden de calificación, el sistema asigna una cita a cada médico.</li>
                <li>El sistema envía automáticamente un correo electrónico con los detalles de la cita a cada médico
                    becado
                    y médico residente.</li>
                <li>El sistema muestra el total de correos enviados, el total de errores de envío de correos y el
                    porcentaje
                    de éxito.</li>
            </ul>
        </div>
    </p-card>
</div>