<p-table [value]="plazas()" [scrollable]="true" [resizableColumns]="true" columnResizeMode="expand">
  @if (tipoBusqueda() === TipoBusquedaPlaza.BusquedaManual) {
    <ng-template #caption>
      <div class="flex justify-content-between align-items-center py-2 px-1">
        <span class="titulo-tabla font-bold text-xl">{{ titulo() }}</span>

        <div class="flex align-items-center gap-4">
          <div class="flex align-items-center boton-descargar cursor-pointer gap-2" (click)="onNuevaPlaza()">
            <i class="pi pi-user-plus" [style]="{ 'font-size': '1.3rem', color: '#018699' }"></i>
            <span class="font-medium">Nueva plaza</span>
          </div>
          <!--<div class="flex align-items-center boton-descargar cursor-pointer gap-2" (click)="onExportarDatos()">
            <i class="pi pi-upload" [style]="{ 'font-size': '1.3rem', color: '#018699' }"></i>
            <span class="font-medium">Exportar datos</span>
          </div>-->
        </div>

      </div>
    </ng-template>
  }

  <ng-template #header>
    <tr>
      <th scope="col" pResizableColumn class="py-4" style="min-width: 130px">OOAD</th>
      <th scope="col" pResizableColumn class="py-4" style="min-width: 120px">
        {{tipoBusqueda() === TipoBusquedaPlaza.BusquedaLayout ? 'No. de plaza' : 'Número de plaza'}}
      </th>
      <th scope="col" pResizableColumn class="py-4" style="min-width: 140px">Tipo de Unidad</th>
      <th scope="col" pResizableColumn class="py-4" style="min-width: 160px">Categoría</th>
      <th scope="col" pResizableColumn class="py-4" style="min-width: 140px">Especialidad</th>
      <th scope="col" pResizableColumn class="py-4" style="min-width: 130px">Horario</th>
      <th scope="col" pResizableColumn class="py-4" style="min-width: 150px">Turno</th>
      <th scope="col" pResizableColumn class="py-4" style="min-width: 90px">Zona</th>
      <th scope="col" pResizableColumn class="py-4" style="min-width: 160px">Marca de ocupación</th>
      <th scope="col" pResizableColumn class="py-4" style="min-width: 180px">Clasificación de unidad</th>
      <th scope="col" pResizableColumn class="py-4" style="min-width: 240px">Unidad</th>
      <th scope="col" pResizableColumn class="py-4" style="min-width: 240px">Adscripción</th>
      <th scope="col" pResizableColumn class="py-4" style="min-width: 120px">Tipo de plaza</th>
      <th scope="col" pResizableColumn class="py-4" style="min-width: 120px">Estatus</th>
      @if(tipoBusqueda() === TipoBusquedaPlaza.BusquedaManual){
        <th scope="col" pResizableColumn class="py-4" style="min-width: 420px">Observaciones</th>
      }
      <th scope="col" class="py-4" style="min-width: 100px" alignFrozen="right" pFrozenColumn>
        Acciones
      </th>
    </tr>
  </ng-template>

  <ng-template #body let-plaza>
    <tr>
      <td>{{ plaza.ooad }}</td>
      <td>{{ plaza.noPlaza }}</td>
      <td>{{ plaza.tipoUnidad }}</td>
      <td>{{ plaza.categoria }}</td>
      <td>{{ plaza.especialidad }}</td>
      <td>{{ plaza.horario }}</td>
      <td>{{ plaza.turno }}</td>
      <td>{{ plaza.zona }}</td>
      <td>{{ plaza.marcaOcupacion }}</td>
      <td>{{ plaza.clasificacionUnidad }}</td>
      <td>{{ plaza.unidad }}</td>
      <td>{{ plaza.adscripcion }}</td>
      <td>{{ plaza.tipoPlaza }}</td>
      <td>
        <app-pill [texto]="plaza.estatus" [pillType]="getPillType(plaza.estatus)" />
      </td>
      @if(tipoBusqueda() === TipoBusquedaPlaza.BusquedaManual){
        <td>{{ plaza.observaciones }}</td>
      }
      <td alignFrozen="right" pFrozenColumn>
        <div class="flex align-items-center justify-content-center">
          <i (click)="abrirAcciones($event, plaza)" class="cme-ellipsis cursor-pointer border-round-3xl"
            [style]="{ 'font-size': '2.2rem', color: '#a9c9f8', background: '#f6faff' }"></i>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template #emptymessage>
    <tr>
      <td colspan="15">
        <div class="flex justify-content-center align-items-center p-4">
          <img class="p-0" src="/assets/images/tabla_sin_resultados.svg" alt="Sin resultados" />
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>

@if (mostrarPaginador()) {
<p-paginator styleClass="justify-content-end" [showFirstLastIcon]="false" [first]="first()" [rows]="rows()"
  [totalRecords]="totalRecords()" (onPageChange)="onPageChange($event)">
  <ng-template pTemplate="previouspagelinkicon">
    <div class="flex align-items-center">
      <span class="pi pi-chevron-left text-xl font-normal mr-2"></span>
      <span class="font-semibold mr-5">Anterior</span>
    </div>
  </ng-template>
  <ng-template pTemplate="nextpagelinkicon">
    <div class="flex align-items-center">
      <span class="font-semibold ml-5">Siguiente</span>
      <span class="pi pi-chevron-right text-xl font-normal ml-2"></span>
    </div>
  </ng-template>
</p-paginator>
}

<p-popover #op (onHide)="plazaSeleccionada.set(null)">
  <ng-template #content>
    @if (tipoBusqueda() === TipoBusquedaPlaza.BusquedaLayout) {
    <div class="flex align-items-center boton-descargar cursor-pointer" (click)="detallePlazaSeleccionada(AccionPlaza.VerDetalle)">
      <i class="icon pi pi-eye" [style]="{ 'font-size': '1.2rem', color: '#a9c9f8'}"></i>
      <span class="ms-2 acciones-tabla">Ver detalle</span>
    </div>

    <div class="flex align-items-center boton-descargar cursor-pointer mt-2" (click)="detallePlazaSeleccionada(AccionPlaza.EditarEstatus)">
      <i class="icon pi pi-file-edit" [style]="{ 'font-size': '1.2rem', color: '#a9c9f8'}"></i>
      <span class="ms-2 acciones-tabla">Editar estatus</span>
    </div>
    } @else {
    <div class="flex align-items-center boton-descargar cursor-pointer" (click)="detallePlazaSeleccionada(AccionPlaza.EditarPlaza)">
      <i class="icon pi pi-pencil" [style]="{ 'font-size': '1.2rem', color: '#a9c9f8'}"></i>
      <span class="ms-2 acciones-tabla">Editar</span>
    </div>

    <div class="flex align-items-center boton-descargar cursor-pointer mt-2" (click)="detallePlazaSeleccionada(AccionPlaza.EliminarPlaza)">
      <i class="icon pi pi-trash" [style]="{ 'font-size': '1.2rem', color: '#a9c9f8'}"></i>
      <span class="ms-2 acciones-tabla">Eliminar</span>
    </div>
    }
  </ng-template>
</p-popover>
