
.menu-titulo {
  color: #58595C;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu-descripcion {
  color: #58595C;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.menu-cantidad {
  color: #58595C;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
