<p-card class="empty-border mt-4">


    <app-conteo [(accionActualiza)]="accionActualiza" [(convocatoriaSeleccionada)]="convocatoriaSeleccionada"></app-conteo>
    <app-especialidad [(accionActualiza)]="accionActualiza" [(ramaActual)]="ramaActual"
        [(convocatoriaSeleccionada)]="convocatoriaSeleccionada" class="mt-4"></app-especialidad>
    @if(ramaActual()){

    <app-mesas [(accionActualiza)]="accionActualiza" [(ramaActual)]="ramaActual"
        [(convocatoriaSeleccionada)]="convocatoriaSeleccionada" class="mt-4"></app-mesas>
    }

</p-card>