<p class="titulo-seccion-asignacion">Configuración y Asignación de mesas</p>
<div class="py-1 px-4 md:bg-white border-round-xl mb-4 mt-4">
    <p-tabs [value]="tab">
        <p-tablist class="tab-list-asig-mesa ">
            <p-tab [value]="0" (click)="tab = 0" class="col flex justify-content-center ">
                <div class="flex align-items-center gap-2">
                    <i class="cme-asignacion-mesa" style="font-size: 2rem;"></i>
                    <span class="text-xl font-normal">Asignación de mesas</span>
                </div>
            </p-tab>
            <p-tab [value]="1" (click)="tab = 1" class="col flex justify-content-center">
                <div class="flex align-items-center gap-2">
                   <i class="cme-citas" style="font-size: 2rem;"></i>
                    <span class="text-xl font-normal"> Envío de Citas</span>
                </div>
            </p-tab>
        </p-tablist>
    </p-tabs>
</div>
@switch (tab) {
@case (0) {
<app-buscar-convocatoria [(convocatoriaSeleccionada)]="convocatoriaActual" />
@if(convocatoriaActual()){
    {{convocatoriaActual() | json}}
    <app-detalle-convocatoria  [(convocatoriaSeleccionada)]="convocatoriaActual" class="mt-4" />
}
}
@case (1) {
<app-envio-citas></app-envio-citas>
}

}