:host {
  display: block;
}

::ng-deep p-calendar {
  span.p-datepicker {
    width: -webkit-fill-available !important;
  }
}

.btn-form {
  margin-top: 23px;
}


::ng-deep .p-date-ate {
  .p-datepicker {
    width: 100%;
    ;
  }
}