<div class="flex flex-wrap">
  <div class="archivos col-6 pt-3">
    @for (doc of docsConstancias; track doc.idDocumentoConstancia) {
      <div class="flex align-items-center px-2 mb-4" [ngClass]="{'select': tabActive() === doc.idDocumentoConstancia }"
           (click)="docSeleccionado(doc.idDocumentoConstancia,doc.documento.refGuid, doc.documento.refExtension)">
        <i class="cme-file" style="font-size: 2rem"></i>
        <p class="ms-3 texto-campo">{{ doc.refConstancia + ': ' + doc.documento.refNombre }}</p>
      </div>
    }
  </div>

  <div class="flex p-4 lg:col-6 col-12 flex-column archivos-previsualizacion">
    @if (docsConstancias.length != 0) {
      <span class="subtitle-previsualizacion">Previsualización</span>
    } @else {
      <span class="subtitle-previsualizacion">No se han cargado constancias</span>
    }
    @if (tabActive() == 0 && docsConstancias.length != 0) {
      <p>{{ _Mensajes.MSJ_SELECCIONAR_DOCUMENTO }}</p>
    } @else {
      @if (pdfSrc) {
        <div style="height: 80vh;" class="my-4">

          @if (blnShowImg) {
            <img [src]="pdfSrc" width="100%" height="100%"/>
          } @else {
            <iframe width="100%" height="100%" [src]="pdfSrc" frameborder="0">
              <p>{{ _Mensajes.MSJ_NOT_SUPPORT_IFRAMES }}</p>
            </iframe>
          }

        </div>
      } @else {
        <span class="loader">{{ _Mensajes.MSJ_CARGANDO_DOCUMENTO }}</span>
      }
    }
  </div>

</div>
