.border-imagen-sm {
  min-width: 140px;
  max-width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  /*   color: #41ABD9;
  font-size: 11.997px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: underline; */

  /*   font-family: Noto Sans;
font-weight: 300;
font-style: Light;
font-size: 14px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
text-decoration: underline;
text-decoration-style: solid;
text-decoration-offset: 0%;
text-decoration-thickness: 0%;
text-decoration-skip-ink: auto;
color: #428EFF; */

  color: #428eff;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 16.8px */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

@media screen and (max-width: 800px) {
  .modal-prev-value,
  .seccion-detalle-oferta-laboral {
    font-size: 11px;
  }

  .modal-titulo-tarjeta {
    font-size: 12px;
  }
}

@layer app-components {
  :host ::ng-deep .p-tablist-tab-list {
    //overflow: scroll;
    overflow-y: hidden;
  }

  :host ::ng-deep .p-tab {
    display: flex;
    justify-content: center;
  }

  :host ::ng-deep .p-tablist-content {
    max-width: 100%;
  }

  @media (max-width: 768px) {
    :host ::ng-deep .p-tab {
      min-width: fit-content;
      margin-bottom: 10px;
    }

    :host ::ng-deep .p-tablist-active-bar {
      background: #fff;
      width: fit-content !important;
    }

    :host ::ng-deep .p-tablist-nav-button {
      display: none !important;
    }

    .padding_rigth {
      padding-right: 0px !important;
    }

    .margen_seccion {
      margin-top: 4px !important;
      margin-bottom: 4px !important;
      padding: 0 0px !important;
    }

    .margen_titulo_seccion {
      margin-bottom: 2px !important;
    }

    .cme-pin{
      display: none !important;
    }
    .cme-deals{
      display: none !important;
    }
  }

  @media screen and (min-width: 1100px) {
    :host ::ng-deep .p-tablist-tab-list {
      overflow: hidden !important;
    }
  }
}

.padding_rigth {
  padding-right: 16px;
}

.margen_seccion {
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 0 16px;
}

.margen_titulo_seccion {
  margin-bottom: 6px;
}
.seccion-detalle-oferta-laboral {
  font-family: Noto Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 12px;
  line-height: 100%;

  color: #597190;
}

.modal-prev-value {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 100%;

  color: #222222;
}

.titulo-tipo-documento {
  color: #222 !important;
  font-family: "Noto Sans";
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
}

.modal-titulo-tarjeta {
  font-family: Noto Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}
