.border-imagen-sm {
  min-width: 140px;
  max-width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  color: #41ABD9;
  font-size: 11.997px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .modal-prev-value, .seccion-detalle-oferta-laboral {
    font-size: 11px;
  }

  .modal-titulo-tarjeta {
    font-size: 12px;
  }
}


@layer app-components {
  :host ::ng-deep .p-tablist-tab-list {
    justify-content: space-between !important;
    overflow: scroll;
    overflow-y: hidden;
  }

  :host ::ng-deep .p-tab {
    min-width: 400px;
    display: flex;
    justify-content: center;
  }

  :host ::ng-deep .p-tablist-content {
    max-width: 100%;
  }

  @media (max-width: 768px) {

    :host ::ng-deep .p-tab {
      min-width: fit-content;
      margin-bottom: 10px;
    }

    :host ::ng-deep .p-tablist-active-bar {
      background: #fff;
      width: fit-content !important;
    }

    :host ::ng-deep .p-tablist-nav-button {
      display: none !important;
    }
  }
}
