<section class="p-4">
  <article class="flex flex-row">
    <div class="col-12 flex flex-column p-3">
      <span class="modal-prev-label">NOMBRE DEL MÉDICO</span>
      <span class="modal-prev-medico">JUAN MANUEL MARTÍNEZ ARELIO</span>
    </div>
  </article>

  <article class="flex flex-row flex-wrap gap-3">
    <div class="col-12 lg:col-4 card border-round flex flex-column p-3">
      <span class="modal-prev-label">FOLIO</span>
      <span class="modal-prev-value">25D0100067</span>
    </div>
    <div class="col-12 lg:col-4 card border-round flex flex-column p-3">
      <span class="modal-prev-label">FECHA DE REGISTRO</span>
      <span class="modal-prev-value">11/11/2025</span>
    </div>
  </article>

  <article class="flex flex-column card border-round mt-4 p-3">
    <div class="flex flex-row">
      <h5 class="modal-prev-titulo">Datos personales</h5>
    </div>
    <div class="flex flex-row flex-wrap">
      <div class="col-12 lg:col-3">

      </div>
      <div class="col-12 lg:col-9 flex flex-row flex-wrap">
        <div class="col-12 lg:col-4 flex flex-column mt-2">
          <span class="modal-prev-label">RFC</span>
          <span class="modal-prev-value">OOAZ900824MTS</span>
        </div>
        <div class="col-12 lg:col-4 flex flex-column mt-2">
          <span class="modal-prev-label">NSS</span>
          <span class="modal-prev-value">66666666666</span>
        </div>
        <div class="col-12 lg:col-4 flex flex-column mt-2">
          <span class="modal-prev-label">FECHA DE NACIMIENTO</span>
          <span class="modal-prev-value">18/11/1985</span>
        </div>
        <div class="col-12 lg:col-4 flex flex-column mt-2">
          <span class="modal-prev-label">SEXO</span>
          <span class="modal-prev-value">Hombre</span>
        </div>
        <div class="col-12 lg:col-4 flex flex-column mt-2">
          <span class="modal-prev-label">ESTADO CIVIL</span>
          <span class="modal-prev-value">Soltero(a)</span>
        </div>
        <div class="col-12 lg:col-4 flex flex-column mt-2">
          <span class="modal-prev-label">DEPENDIENTES</span>
          <span class="modal-prev-value">Padres, Cónyuge</span>
        </div>
        <div class="col-12 lg:col-4 flex flex-column mt-2">
          <span class="modal-prev-label">¿CUÁNTOS HIJOS?</span>
          <span class="modal-prev-value">0</span>
        </div>
        <div class="col-12 lg:col-4 flex flex-column mt-2">
          <span class="modal-prev-label">OTROS</span>
          <span class="modal-prev-value">Ninguno</span>
        </div>
      </div>
    </div>
  </article>

  <article class="flex flex-column card border-round mt-4 p-3">
    <div class="flex flex-row">
      <h5 class="modal-prev-titulo">Datos de contacto</h5>
    </div>
    <div class="flex flex-row flex-wrap">
      <div class="col-12 lg:col-6 flex flex-column mt-2">
        <span class="modal-prev-label">CORREO ELECTRÓNICO</span>
        <span class="modal-prev-value">amon&#64;gmail.com</span>
      </div>
      <div class="col-12 lg:col-6 flex flex-column mt-2">
        <span class="modal-prev-label">CORREO ADICIONAL</span>
        <span class="modal-prev-value">xobel13330&#64;hh7f.com</span>
      </div>
      <div class="col-12 lg:col-6 flex flex-column mt-2">
        <span class="modal-prev-label">TELÉFONO DE CASA</span>
        <span class="modal-prev-value">5545888902</span>
      </div>
      <div class="col-12 lg:col-6 flex flex-column mt-2">
        <span class="modal-prev-label">TELÉFONO CELULAR</span>
        <span class="modal-prev-value">5545888902</span>
      </div>
      <div class="col-12 lg:col-6 flex flex-column mt-2">
        <span class="modal-prev-label">PAÍS DE NACIMIENTO</span>
        <span class="modal-prev-value">Albania</span>
      </div>
      <div class="col-12 lg:col-6 flex flex-column mt-2">
        <span class="modal-prev-label">ESTADO DE ORIGEN</span>
        <span class="modal-prev-value">—</span>
      </div>
    </div>
  </article>

  <article class="flex flex-column card border-round mt-4 p-3">
    <div class="flex flex-row">
      <h5 class="modal-prev-titulo">Datos del domicilio</h5>
    </div>
    <div class="flex flex-row flex-wrap">
      <div class="col-12 lg:col-4 flex flex-column mt-2">
        <span class="modal-prev-label">CÓDIGO POSTAL</span>
        <span class="modal-prev-value">06720</span>
      </div>
      <div class="col-12 lg:col-4 flex flex-column mt-2">
        <span class="modal-prev-label">PAÍS</span>
        <span class="modal-prev-value">México</span>
      </div>
      <div class="col-12 lg:col-4 flex flex-column mt-2">
        <span class="modal-prev-label">ESTADO</span>
        <span class="modal-prev-value">DISTRITO FEDERAL</span>
      </div>
      <div class="col-12 lg:col-4 flex flex-column mt-2">
        <span class="modal-prev-label">ALCALDÍA</span>
        <span class="modal-prev-value">CUAUHTÉMOC</span>
      </div>
      <div class="col-12 lg:col-4 flex flex-column mt-2">
        <span class="modal-prev-label">COLONIA</span>
        <span class="modal-prev-value">Doctores</span>
      </div>
      <div class="col-12 lg:col-4 flex flex-column mt-2">
        <span class="modal-prev-label">CALLE</span>
        <span class="modal-prev-value">Doctor Velasco</span>
      </div>
      <div class="col-12 lg:col-4 flex flex-column mt-2">
        <span class="modal-prev-label">NÚMERO EXTERIOR</span>
        <span class="modal-prev-value">171</span>
      </div>
    </div>
  </article>

  <article class="flex flex-column card border-round mt-4 p-3">
    <div class="flex flex-row">
      <h5 class="modal-prev-titulo">Zona de interés laboral</h5>
    </div>
    <p>Selecciona 3 zonas en la versión editable.</p>
  </article>

  <article class="flex flex-column card border-round mt-4 p-3">
    <div class="flex flex-row">
      <h5 class="modal-prev-titulo">Documentos obligatorios</h5>
    </div>
  </article>

  <article class="flex flex-column card border-round mt-4 p-3">
    <div class="flex flex-row">
      <h5 class="modal-prev-titulo">Documentos de especilidad</h5>
    </div>
  </article>

  <article class="flex flex-column card border-round mt-4 p-3">
    <div class="flex flex-row">
      <h5 class="modal-prev-titulo">Constancias de cursos</h5>
    </div>
  </article>


  <article class="flex flex-column card border-round mt-4 p-3">
    <div class="flex flex-row">
      <h5 class="modal-prev-titulo">Datos de empleo</h5>
    </div>
    <div class="flex flex-row flex-wrap">
      <div class="col-12 lg:col-4 flex flex-column mt-2">
        <span class="modal-prev-label">¿Tienes otro empleo?</span>
        <span class="modal-prev-value">No</span>
      </div>
      <div class="col-12 lg:col-4 flex flex-column mt-2">
        <span class="modal-prev-label">¿Eres sustituto 08 IMSS?</span>
        <span class="modal-prev-value">No</span>
      </div>
      <div class="col-12 lg:col-4 flex flex-column mt-2">
        <span class="modal-prev-label">Horario laboral</span>
        <span class="modal-prev-value">16:55 - 17:56</span>
      </div>
      <div class="col-12 lg:col-4 flex flex-column mt-2">
        <span class="modal-prev-label">Jornada laboral</span>
        <span class="modal-prev-value">Lunes a Viernes</span>
      </div>
      <div class="col-12 lg:col-4 flex flex-column mt-2">
        <span class="modal-prev-label">Institución</span>
        <span class="modal-prev-value">No registrado</span>
      </div>
      <div class="col-12 lg:col-4 flex flex-column mt-2">
        <span class="modal-prev-label">Especialidad</span>
        <span class="modal-prev-value">No registrado</span>
      </div>
    </div>
  </article>
</section>
