.border-imagen-sm {
  min-width: 140px;
  max-width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  color: #41ABD9;
  font-size: 11.997px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .valores-modal {
    flex-direction: column;
  }
}
