<div class="flex flex-wrap p-3 bg-white border-round-xl my-3">
  <div class="md:col-5 col-12">
    <form [formGroup]="form">
      <div class="flex justify-content-between">
        <label class="field-label" for="matricula">Matrícula/Folio</label>
      </div>
      <input pInputText class="w-full" type="text" id="matricula"
             placeholder="Ingresa matrícula"
             formControlName="matricula"/>
    </form>
  </div>
  <div class="md:col-4 col-12 flex align-content-center flex-1 gap-3 mt-4">
    <p-button type="button" variant="outlined" label="Limpiar" (onClick)="limpiar()"/>
    <p-button type="button" label="Buscar" (onClick)="consultarMatriculaFolio()" [disabled]="this.form.invalid"/>
  </div>
</div>

@if (datosMedico()) {
  <p-card class="empty-border" [header]="'Datos del médico aspirante'">
    <div class="contenedor-info p-2">
      <div class="lg:col-3 col-12 flex flex-row mb-4 lg:mb-0 justify-content-center contenedor-imagen">
        <upload-photo [disableUpload]="!!this.datosMedico()?.idPropuestaSindical"
                      (fileSelected)="archivoSeleccionado($event)"
                      [clearOnFailedSave]="needsCleanup"
                      [existingFile]="defaultFile" (cleanupDone)="onCleanupDone()" class="mt-5"/>
      </div>
      <div class="flex flex-column w-full">
        <div class="flex flex-wrap justify-content-between mb-3 gap-2">
          <div class="flex align-items-center">
            <span class="titulo-nombre-aspirante text-xl font-semibold me-2">{{ this.datosMedico()?.nombreCompleto }}</span>
            @if (this.datosMedico()?.tipoUnidad) {
              <p-badge [value]="'• ' + datosMedico()?.tipoUnidad" severity="warn"/>
            }

          </div>
          @if (this.datosMedico()?.idPropuestaSindical) {
            <div class="flex align-items-center justify-content-center">
              <span class="titulo-nombre-aspirante text-xl">Folio:</span>
              &nbsp;
              <span class="titulo-nombre-aspirante text-xl font-normal">{{ this.datosMedico()?.refFolioPropuesta }}</span>
            </div>

            <div class="flex cursor-pointer align-items-center">
              <i class="cme-impresora" style="font-size: 1.2rem; color:#08865C;"></i>
              <span class="ms-2 header-tab-documentacion text-base" (click)="imprimirPropuesta()" style="color:#08865C;">Imprimir propuesta sindical</span>
            </div>
          }
        </div>
        <span class="titulo-menu-asignacion font-normal text-color mb-3">Información del médico</span>
        <div class="flex flex-wrap gap-5 mb-3">
          <div class="flex flex-column detalle-aspirante">
            <span>Sexo</span>
            <p>{{ this.datosMedico()?.genero }}</p>
          </div>
          <div class="flex flex-column  detalle-aspirante">
            <span>Fecha de nacimiento</span>
            <p>{{ this.datosMedico()?.fechaNacimiento }}</p>

          </div>
          <div class="flex flex-column  detalle-aspirante">
            <span>Nacionalidad</span>
            <p>{{ this.datosMedico()?.nacionalidad }}</p>
          </div>
          <div class="flex flex-column  detalle-aspirante">
            <span>Edad</span>
            <p>{{ this.datosMedico()?.edad }} años</p>
          </div>
          <div class="flex flex-column  detalle-aspirante">
            <span>CURP</span>
            <p>{{ this.datosMedico()?.curp }}</p>
          </div>
          <div class="flex flex-column  detalle-aspirante">
            <span>RFC</span>
            <p>{{ this.datosMedico()?.rfc }}</p>
          </div>
        </div>
        <span class="titulo-menu-asignacion font-normal text-color mb-3">Información de asignación</span>
        <div class="flex flex-wrap gap-4 mb-4 pb-3 border-bottom-2 border-blue-50">
          @if (this.datosMedico()?.numeroPlaza) {
            <div class="flex flex-column detalle-aspirante ">
              <span>Plaza asignada</span>
              <p>{{ this.datosMedico()?.numeroPlaza }}</p>
            </div>
          }
          <div class="flex flex-column  detalle-aspirante">
            <span>OOAD asignada</span>
            <p>{{ this.datosMedico()?.ooadPlaza }}</p>
          </div>
          <div class="flex flex-column  detalle-aspirante">
            <span>Zona</span>
            <p>Zona {{ this.datosMedico()?.zonaPlaza }}</p>
          </div>
          <div class="flex flex-column  detalle-aspirante">
            <span>Categoría</span>
            <p>{{ this.datosMedico()?.categoriaPlaza }}</p>
          </div>
          <div class="flex flex-column  detalle-aspirante">
            <span>Especialidad</span>
            <p>{{ this.datosMedico()?.especialidadPlaza }}</p>
          </div>
          <div class="flex flex-column  detalle-aspirante">
            <span>Modalidad</span>
            <p>{{ this.datosMedico()?.modalidad }}</p>
          </div>
          @if (this.datosMedico()?.tipoUnidad) {
            <div class="flex flex-column  detalle-aspirante">
              <span>Tipo de unidad</span>
              <p>{{ this.datosMedico()?.tipoUnidad }}</p>
            </div>
          }
        </div>
        <span class="titulo-menu-asignacion font-normal text-color mb-3">Dirección</span>
        <div class="flex flex-wrap gap-5 mb-3 pb-4 border-bottom-2 border-blue-50">
          <div class="flex flex-column detalle-aspirante">
            <span>Entidad</span>
            <p>{{ this.datosMedico()?.entidadDireccion }}</p>
          </div>
          <div class="flex flex-column  detalle-aspirante">
            <span>Municipio</span>
            <p>{{ this.datosMedico()?.municipioDireccion }}</p>
          </div>
          <div class="flex flex-column  detalle-aspirante">
            <span>Código postal</span>
            <p>{{ this.datosMedico()?.codigoPostalDireccion }}</p>
          </div>
          <div class="flex flex-column  detalle-aspirante">
            <span>Colonia</span>
            <p>{{ this.datosMedico()?.coloniaDireccion }}</p>
          </div>
          <div class="flex flex-column  detalle-aspirante">
            <span>Calle</span>
            <p>{{ this.datosMedico()?.calleDireccion }}</p>
          </div>
          <div class="flex flex-column  detalle-aspirante">
            <span>Número exterior</span>
            <p>{{ this.datosMedico()?.numExtDireccion }}</p>
          </div>
        </div>
        <span class="titulo-menu-asignacion font-normal text-color mb-3">Sección sindical</span>
        <div class="flex gap-5 mb-3 pb-4 border-bottom-2 border-blue-50">
          <div class="flex flex-column detalle-aspirante">
            <p>{{ this.datoSeccionSindical()?.desSeccionSindical }}</p>
          </div>
        </div>
        <span class="titulo-menu-asignacion font-normal text-color mb-3">Información de contacto</span>
        <div class="flex gap-5 mb-3">
          <div class="flex flex-column detalle-aspirante">
            <span>Teléfono celular</span>
            <p>{{ this.datosMedico()?.celularContacto }}</p>
          </div>
          <div class="flex flex-column  detalle-aspirante">
            <span>Otro teléfono de contacto</span>
            <p>{{ this.datosMedico()?.otroNumeroContacto }}</p>
          </div>
        </div>
      </div>
    </div>
  </p-card>
  <div class="flex justify-content-end mt-3 gap-3">
    @if (this.datosMedico()?.idPropuestaSindical) {
      <p-button variant="outlined" label="Cancelar propuesta" (onClick)="dialogCancelacion = true"
                severity="warn"/>
    }
    @if (!this.datosMedico()?.idPropuestaSindical) {
      <p-button label="Nueva propuesta sindical" 
                [disabled]="!this.blnFotoGuardada || isSaving"
                [loading]="isSaving"
                (onClick)="generarNuevaPropuesta()"
      />
    }
  </div>
} @else {
  <div class="flex flex-column justify-content-center align-items-center h-30rem">
    <img class="p-0"
         src="/assets/images/tabla_sin_resultados.svg" alt="Sin resultados">
    <span class="sin-resultados mt-2">No hay resultados de búsqueda</span>
  </div>
}


<p-dialog
  [(visible)]="dialogCancelacion"
  [modal]="true"
  [closable]="true"
  [styleClass]="'dialog'"
  [draggable]="false"
  [resizable]="false"
  [showHeader]="true"
  [header]="'Rechazo de oferta'"
>

  <div class="flex justify-content-center mb-5">
    <p class="font-normal text-xl">¿Estás seguro de cancelar la propuesta sindical?</p>
  </div>

  <div class="flex justify-content-end">
    <p-button variant="outlined" label="Cancelar" (onClick)="dialogCancelacion = false" severity="warn"
              class="me-3"/>
    <p-button variant="outlined" (onClick)="cancelarPropuesta()" label="Aceptar"/>

  </div>
</p-dialog>



