@layer app-components {
  :host ::ng-deep .p-dialog {
    border-top: 14px solid #0f9b9b !important;
  }

  .dialog {
    width: 50%;
    padding: 0 30px;
  }

  @media screen and (min-width: 351px) and (max-width: 575px) {

    .contenedor-info {
      display: flex;
      flex-direction: column;
    }

  }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .contenedor-imagen {
      margin: auto;
    }

  }


  @media screen and (min-width: 1200px) {

    .contenedor-info {
      display: flex;
      flex-direction: row;
    }

  }
}
