<div class="flex flex-wrap flex-row">
  <div class="col-6">
    <div class="flex flex-column">
      <h4> Información del puesto</h4>
      <div class="flex justify-content-between">
        <p>Horario:</p>
        <p>7:30 a 14:00 y 1.5HRS prep ACT. DOC. E INVES.</p>
      </div>
      <div class="flex justify-content-between">
        <p>Régimen:</p>
        <p>Ordinario</p>
      </div>
      <div class="flex justify-content-between">
        <p>No de plaza:</p>
        <p>1436</p>
      </div>
      <div class="flex justify-content-between">
        <p>Categoría:</p>
        <p>Médico no familiar</p>
      </div>
      <div class="flex justify-content-between">
        <p>Clasificación:</p>
        <p>Segundo nivel</p>
      </div>
      <div class="flex justify-content-between">
        <p>Tipo de plaza:</p>
        <p>Operativa base</p>
      </div>
      <div class="flex justify-content-between">
        <p>Marca de ocupación:</p>
        <p>Definitiva</p>
      </div>
    </div>

    <div class="flex flex-column mt-4">
      <h4>Información del hospital</h4>
      <div class="flex justify-content-between">
        <p>OOAD:</p>
        <p>Estado de México</p>
      </div>
      <div class="flex justify-content-between">
        <p>UMF:</p>
        <p>Hoospital de Gineco Obstreticia No. 60</p>
      </div>
      <div class="flex justify-content-between">
        <p>Zona:</p>
        <p>Ecatepec de Morelos</p>
      </div>
      <div class="flex justify-content-between">
        <p>Ubicación:</p>
        <p>Av. Morelos 47, San Javier, 54000 Baja California</p>
      </div>
    </div>
  </div>
  <div class="col-6">

  </div>
</div>
