<div class="mb-5 pb-5">
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0" (click)="cambioDatosHeader(0)">
        <div class="header-tab-oferta">
          <i class="cme-deals" style="color: #41ABD9; font-size: 1.4rem"></i>
          Información general
        </div>
      </p-tab>

      @if (mostrarUbicacionServicios) {
        <p-tab value="1" (click)="cambioDatosHeader(1)">
          <div class="header-tab-oferta">
            <i class="cme-pin" style="color: #41ABD9; font-size: 1.4rem"></i>
            Ubicación y servicios
          </div>
        </p-tab>
      }

      @if (mostrarSedes) {
        <p-tab value="2" (click)="cambioDatosHeader(2)">
          <div class="header-tab-oferta">
            <i class="cme-sedes" style="color: #41ABD9; font-size: 1.4rem"></i>
            Sedes
          </div>
        </p-tab>
      }
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <div class="flex flex-wrap flex-row">
          <div class="sm:col-12 md:col-6  pr-4">
            <div class="flex flex-column">
              <div class="flex align-items-center gap-4">
                <i class="pi pi-exclamation-circle" style="color: #41ABD9; font-size: 1.8rem"></i>
                <h4 class="titulo-detalle-oferta-laboral"> Información del puesto</h4>
              </div>
              <div class="flex justify-content-between">
                <p class="seccion-detalle-oferta-laboral">Horario:</p>
                <p class="texto-detalle-oferta-laboral">{{ ofertaSeleccionada.horario }}</p>
              </div>
              <div class="flex justify-content-between">
                <p class="seccion-detalle-oferta-laboral">Régimen:</p>
                <p class="texto-detalle-oferta-laboral">{{ ofertaSeleccionada.regimen }}</p>
              </div>
              <div class="flex justify-content-between">
                <p class="seccion-detalle-oferta-laboral">No de plaza:</p>
                <p class="texto-detalle-oferta-laboral">{{ ofertaSeleccionada.numPlaza }}</p>
              </div>
              <div class="flex justify-content-between">
                <p class="seccion-detalle-oferta-laboral">Categoría:</p>
                <p class="texto-detalle-oferta-laboral">{{ ofertaSeleccionada.categoria }}</p>
              </div>
              <div class="flex justify-content-between">
                <p class="seccion-detalle-oferta-laboral">Clasificación:</p>
                <p class="texto-detalle-oferta-laboral">{{ ofertaSeleccionada.clasificacion }}</p>
              </div>
              <div class="flex justify-content-between">
                <p class="seccion-detalle-oferta-laboral">Tipo de plaza:</p>
                <p class="texto-detalle-oferta-laboral">{{ ofertaSeleccionada.tipoPlaza }}</p>
              </div>
              <div class="flex justify-content-between">
                <p class="seccion-detalle-oferta-laboral">Marca de ocupación:</p>
                <p class="texto-detalle-oferta-laboral">{{ ofertaSeleccionada.marcaOcupacion }}</p>
              </div>
            </div>

            <div class="flex flex-column mt-4">
              <div class="flex align-items-center gap-4">
                <i class="cme-hospital" style="color: #41ABD9; font-size: 2rem"></i>
                <h4 class="titulo-detalle-oferta-laboral">Información del hospital</h4>
              </div>
              <div class="flex justify-content-between">
                <p class="seccion-detalle-oferta-laboral">OOAD:</p>
                <p class="texto-detalle-oferta-laboral">{{ ofertaSeleccionada.ooad }}</p>
              </div>
              <div class="flex justify-content-between">
                <p class="seccion-detalle-oferta-laboral">Unidad Médica:</p>
                <p class="texto-detalle-oferta-laboral">{{ ofertaSeleccionada.umf }}</p>
              </div>
              <div class="flex justify-content-between">
                <p class="seccion-detalle-oferta-laboral">Zona:</p>
                <p class="texto-detalle-oferta-laboral">{{ ofertaSeleccionada.zona }}</p>
              </div>
              <div class="flex justify-content-between">
                <p class="seccion-detalle-oferta-laboral">Ubicación:</p>
                <p class="texto-detalle-oferta-laboral align-last-right"
                   [appSplitByWidth]="ofertaSeleccionada.ubicacion!"></p>
              </div>
            </div>
          </div>
          <div class="my-4 md:col-6 w-screen md:w-6 padding-compensacion">
            <p-card class="empty-border bg-secondary-blue-oferta-laboral">
              <div class="flex justify-content-between">
                <p class="card-compensacion-titulo">Compensación</p>
                <p-rating [(ngModel)]="value" [stars]="1" (onRate)="agregarFavorito()"
                          (onCancel)="quitarFavorito()"/>
              </div>
              <div class="flex">
                <div class="flex col-12 flex-column p-0 mt-4">
                  <p class="card-compensacion-sub-titulo">Sueldo mensual</p>
                  <div class="flex justify-content-start gap-4 my-2">
                    <div class="flex flex-column">
                      <p class="card-compensacion-seccion">Estimado bruto</p>

                      <p
                        class="card-compensacion-titulo">{{ ofertaSeleccionada.sueldoMensualBruto |  currency:'USD':'symbol':'1.2-2' }}</p>
                    </div>
                    <div class="flex align-items-end">
                      <p class="card-compensacion-titulo">-</p>
                    </div>
                    <div class="flex flex-column">
                      <p class="card-compensacion-seccion">Estimado neto</p>
                      <p
                        class="card-compensacion-titulo">{{ ofertaSeleccionada.sueldoMensualNeto |  currency:'USD':'symbol':'1.2-2' }}</p>
                    </div>
                  </div>
                  <div class="flex justify-content-between p-0 mt-1">
                    <div class="col-6 flex justify-content-start p-0">
                      <p class="card-compensacion-seccion">Créditos:</p>
                    </div>
                    <div class="col-6 flex justify-content-start p-0">
                      <p
                        class="card-compensacion-seccion">{{ ofertaSeleccionada.creditos }} {{ ofertaSeleccionada.creditos! > 1 ? "Disponibles" : "Disponible" }}</p>
                    </div>
                  </div>
                  <div class="flex justify-content-between p-0 mt-1">
                    <div class="col-6 flex justify-content-start p-0">
                      <p class="card-compensacion-seccion">Bono difícil:</p>
                    </div>
                    <div class="col-6 flex justify-content-start p-0">
                      <p
                        class="card-compensacion-seccion">{{ ofertaSeleccionada.bonoDificilCobertura ? ofertaSeleccionada.bonoDificilCobertura : "No" }}</p>

                    </div>
                  </div>
                  <div class="flex justify-content-between p-0 mt-1">
                    <div class="col-6 flex justify-content-start p-0">
                      <p class="card-compensacion-seccion">Acceso a crédito:</p>
                    </div>
                    <div class="col-6 flex justify-content-start p-0">
                      <p class="card-compensacion-seccion">{{ ofertaSeleccionada.accesoCredito ? 'Sí' : 'No' }}</p>
                    </div>
                  </div>
                  @if (ofertaSeleccionada.accesoCredito) {
                    @if (ofertaSeleccionada.creditoAutomotriz) {
                      <div class="flex justify-content-between p-0 mt-1">
                        <div class="col-6 flex justify-content-start p-0">
                          <p class="card-compensacion-seccion">Crédito automotriz:</p>
                        </div>
                        <div class="col-6 flex justify-content-start p-0">
                          <p class="card-compensacion-seccion">Monto máx {{ ofertaSeleccionada.creditoAutomotriz }}

                            <i class="pi pi-question-circle ms-2" style=" font-size: 1rem;" tooltipPosition="top"
                               [pTooltip]="tooltipContent"></i>
                            <ng-template #tooltipContent>
                              <div class="flex items-center info-monto">
                                {{ infoTexto(ofertaSeleccionada.descuentoQuincenalCreditoAutomotriz) }}
                              </div>
                            </ng-template>


                          </p>
                        </div>
                      </div>
                    }
                    @if (ofertaSeleccionada.creditoHipotecario) {
                      <div class="flex justify-content-between p-0 mt-1">
                        <div class="col-6 flex justify-content-start p-0">
                          <p class="card-compensacion-seccion">Crédito hipotecario:</p>
                        </div>
                        <div class="col-6 flex justify-content-start p-0">
                          <p class="card-compensacion-seccion">Monto máx  {{ ofertaSeleccionada.creditoHipotecario }}
                            @if (ofertaSeleccionada.creditoHipotecario) {
                              <i class="pi pi-question-circle ms-2" style=" font-size: 1rem;" tooltipPosition="top"
                                 [pTooltip]="tooltipCredHipo"></i>
                              <ng-template #tooltipCredHipo>
                                <div class="flex items-center info-monto">
                                  {{ infoTexto(ofertaSeleccionada.descuentoQuincenalCreditoHipotecario) }}
                                </div>
                              </ng-template>
                            }
                          </p>
                        </div>
                      </div>
                    }
                  }
                </div>
              </div>
            </p-card>
          </div>
          <!--         <div class="col-12 flex justify-content-end mt-2">
                    @if (value === 0) {
                      <p-button variant="outlined" (onClick)=agregarFavorito() label="Agregar a favoritos"/>
                    }
                    @if (value === 1) {
                      <p-button variant="outlined" (onClick)=eliminarFavorito() label="Eliminar de favoritos"/>
                    }
                  </div> -->
        </div>
      </p-tabpanel>
      @if (mostrarUbicacionServicios) {
        <p-tabpanel value="1">
          <div class="flex flex-wrap h-full">
            <div class="col-12 md:col-6  pr-4 justify-content-center flex">
              @if (mapaRef) {
                <img [src]="ref + mapaRef" alt="Image" class="res-imagen">
              } @else {
                <div class="bg-img-no-disponible"></div>
              }
            </div>
            <div class="col-12 md:col-6 md:pl-4 justify-content-center ">
              <p-carousel
                styleClass="carousel slide"
                [value]="imgCarrusel" [prevButtonProps]="{ icon: 'cme-arrow', styleClass: 'cme-arrow carousel-icon'}"
                [nextButtonProps]="{ icon: 'cme-revert-arrow', styleClass:'cme-revert-arrow carousel-icon'}"
                [numVisible]="1"
                [numScroll]="1" [responsiveOptions]="responsiveOptions">
                <ng-template let-product #item>
                  <div class="flex rounded justify-content-center " style="width: 300px; background-color: blue;">
                    <div class="relative mx-auto justify-content-center">
                      <p-image width="320px" height="460"
                               [src]="ref + product.refGuid"
                               [alt]="product.name" styleClass="carousel-image"
                               class="rounded-border flex "/>

                    </div>
                  </div>
                </ng-template>
              </p-carousel>
            </div>
            <div class="col-12 flex justify-content-end mt-2" style="margin-bottom: 30px;">
              <p-button (click)="btnDescargar(1)" variant="outlined" label="Descargar PDF"/>
            </div>
          </div>
        </p-tabpanel>
      }
      @if (mostrarSedes) {
        <p-tabpanel value="2">
          <div class="sedes-panel">
            <form [formGroup]="formSedes">
              <div class="flex flex-wrap">
                <div class="col-12">
                  <div class="flex justify-content-between">
                    <label class="field-label" for="ooad_sedes">OOAD</label>
                  </div>
                  <p-multiselect
                    inputId="ooad_sedes"
                    [options]="ooadSedesOptions"
                    formControlName="ooads"
                    optionLabel="label"
                    optionValue="value"
                    placeholder="Seleccione opción"
                    display="chip"
                    [filter]="true"
                    filterBy="label"
                    [showClear]="true"
                    selectedItemsLabel="{0} OOAD seleccionadas"
                    [appendTo]="'body'"
                    [style]="{ 'width': '100%' }">
                  </p-multiselect>
                </div>
              </div>
            </form>

            @if (isLoadingSedes || sedesOoad.length > 0) {
              <p-table
                [value]="sedesOoad"
                [loading]="isLoadingSedes"
                [scrollable]="true"
                [resizableColumns]="true"
                [tableStyle]="{ 'min-width': '50rem' }"
                styleClass="sedes-table"
                columnResizeMode="expand">
                <ng-template #header>
                  <tr>
                    <!--<th scope="col" class="sedes-table__numero" pResizableColumn>Número</th>-->
                    <th scope="col" pResizableColumn>Clave</th>
                    <th scope="col" pResizableColumn>OOAD</th>
                    <th scope="col" pResizableColumn>Sede</th>
                    <th scope="col" pResizableColumn>Ubicación</th>
                    <th scope="col" pResizableColumn>Responsable</th>
                    <th scope="col" pResizableColumn>Teléfono de oficina</th>
                    <th scope="col" pResizableColumn>Teléfono celular</th>
                    <th scope="col" pResizableColumn>Correo electrónico institucional</th>
                  </tr>
                </ng-template>
                <ng-template #body let-sede let-rowIndex="rowIndex">
                  <tr>
                    <!--<td class="sedes-table__numero">{{ rowIndex + 1 }}.</td>-->
                    <td>{{ sede.cveOoad }}</td>
                    <td>{{ sede.nomSede }}</td>
                    <td>{{ sede.desOoad }}</td>
                    <td>{{ sede.refDireccion }}</td>
                    <td>{{ sede.nomResponsable }}</td>
                    <td>{{ sede.refTelefonoOficina }}</td>
                    <td>{{ sede.refTelefonoCelular }}</td>
                    <td>{{ sede.refCorreoInstitucional }}</td>
                  </tr>
                </ng-template>
              </p-table>
            } @else {
              <div class="sedes-empty">
                <img src="/assets/images/tabla_sin_resultados.svg" alt="No hay resultados de búsqueda">
                <p class="sedes-empty__title">No hay resultados de búsqueda</p>
                <p class="sedes-empty__message">No se encontraron resultados con los parámetros seleccionados.</p>
              </div>
            }

            <div class="flex justify-content-end mt-3" style="margin-bottom: 30px;">

              <p-button (click)="btnDescargarSede()" variant="outlined" label="Descargar PDF"/>
            </div>
          </div>
        </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
</div>
