<app-convocatoria [(totalCitas)]="totalCitas" [(convocatoriaSelect)]="convocatoriaSelect"
    [(tipoMedicoSelect)]="tipoMedicoSelect" [(solicitudEnvioCitas)]="solicitudEnvioCitas" [(convocatoriaInactivaSeleccionada)]="convocatoriaInactivaSeleccionada"></app-convocatoria>
<app-detalle-convocatoria [(totalCitas)]="totalCitas" [(convocatoriaSelect)]="convocatoriaSelect"
    [(tipoMedicoSelect)]="tipoMedicoSelect" [(solicitudEnvioCitas)]="solicitudEnvioCitas" [(convocatoriaInactivaSeleccionada)]="convocatoriaInactivaSeleccionada"></app-detalle-convocatoria>
<app-proceso-asignacion></app-proceso-asignacion>

