<main class="flex  login-background">
  <aside class="col-6 flex flex-column justify-content-center align-items-center p-6">
    <h1 class="login-titulo">Convocatoria para medicos especialistas</h1>
    <h2 class="login-subtitulo">Reclutamiento IMSS 2025</h2>
  </aside>
  <section class="col-6 flex justify-content-center align-items-center">
    <p-card class="top-rounded-card" [style]="{ width: '45rem', overflow: 'hidden' }">
      <ng-template #header>
        <div class="flex justify-content-center">
          <h2>Inicio de sesión</h2>
        </div>
        <hr>
      </ng-template>
    </p-card>
  </section>
</main>
