<div class="flex justify-content-start align-items-center gap-3">
  <btn-regresar/>
  <h3 class="titulo-seccion w-full">Módulo de verificación de documentos</h3>
</div>

<p-card class="mx-2 empty-border" [header]="'Verificación de Documentos'">
  <form [formGroup]="filtroForm">
    <article class="flex flex-row">
      <div class="col-3">
        <div class="flex justify-content-between">
          <label class="field-label" for="especialidad">Especialidad</label>
        </div>
        <p-select formControlName="especialidad" [options]="especialidad" optionLabel="label" placeholder="Ingresa especialidad" class="w-full" />
      </div>
      <div class="col-3">
        <div class="flex justify-content-between">
          <label class="field-label" for="estatus">Estatus</label>
        </div>
        <p-select formControlName="estatus" [options]="estatus" optionLabel="label" placeholder="Ingresa estatus" class="w-full" />
      </div>
      <div class="col-3">
        <div class="flex justify-content-between">
          <label class="field-label" for="matricula">Matrícula</label>
        </div>
        <input pInputText class="w-full" type="text" id="matricula"
                   placeholder="Ingresa matrícula"
                   formControlName="matricula"
                   />
      </div>
      <div class="col-3">
        <div class="flex justify-content-between">
          <label class="field-label" for="contratacion">Contratación</label>
        </div>
        <p-select formControlName="contratacion" [options]="contratacion" optionLabel="label" placeholder="Ingresa tipo de contratación" class="w-full" />
      </div>
    </article>
    <div class="flex flex-row justify-content-end mt-3 gap-3">
      <p-button type="button" variant="outlined" label="Limpiar"/>
      <p-button type="button" label="Buscar" />
    </div>
  </form>
</p-card>

<p-table
  [value]="usuarioDocumentos()"
  [scrollable]="true"
>
  <ng-template #caption>

    <div class="flex justify-content-between">
      <span class="titulo-tabla">Verificación de Documentos</span>
      <div class="flex align-items-center boton-descargar">
        <i class="cme-download" [style]="{ 'font-size': '1.8rem', color: '#018699'}"></i>
        <span class="ms-2 font-medium">Exportar datos</span>
      </div>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th style="min-width: 200px">Nombre</th>
      <th >Matrícula/Folio</th>
      <th style="min-width: 200px" >Correo</th>
      <th >Especialidad</th>
      <th style="min-width: 200px">Estatus</th>
      <th style="min-width: 300px">Observaciones</th>
      <th >Modalidad</th>
      <th >Tipo de modalidad</th>
      <th >Fecha de verificación</th>
      <th
        style="min-width: 100px"
        alignFrozen="right"
        pFrozenColumn
      >
        Acciones
      </th>
    </tr>
  </ng-template>
  <ng-template #body let-usuarioDocumentos>
    <tr>
      <td>{{usuarioDocumentos.nombre}}</td>
      <td>{{usuarioDocumentos.matricula}}</td>
      <td>{{usuarioDocumentos.correo}}</td>
      <td>{{usuarioDocumentos.especialidad}}</td>
      <td>
        <div class="pill flex justify-content-start">
          <p [ngClass]="settearClase(usuarioDocumentos.estatus)" class="p-2">
            {{textoEstatus(usuarioDocumentos.estatus)}}
          </p>
        </div>
      </td>
      <td>{{usuarioDocumentos.observaciones}}</td>
      <td>{{usuarioDocumentos.modalidad}}</td>
      <td>{{usuarioDocumentos.tipoModalidad}}</td>
      <td>{{usuarioDocumentos.fecha}}</td>
      <td alignFrozen="right" pFrozenColumn class="flex justify-content-center">
        <i (click)="consultaDocumento($event, usuarioDocumentos)"  class="cme-document cursor-pointer" [style]="{ 'font-size': '2.2rem', color: '#23c8a7'}"></i>
      </td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td colspan="10">
        <div class="flex justify-content-center align-items-center">
          <img class="p-0"
                src="/assets/images/tabla_sin_resultados.svg" alt="Sin resultados">
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-paginator
    styleClass="justify-content-end"
    [showFirstLastIcon]="false"
    [first]="first"
    [rows]="rows"
    [totalRecords]="totalElementos"
    (onPageChange)="onPageChange($event)"
    >
    <ng-template pTemplate="previouspagelinkicon">
      <div class="flex align-items-center">
        <span class="pi pi-chevron-left text-xl font-normal mr-2"></span>
        <span class="font-semibold mr-5">Anterior</span>
      </div>
    </ng-template>
    <ng-template pTemplate="nextpagelinkicon">
      <div class="flex align-items-center">
        <span class="font-semibold ml-5">Siguiente</span>
        <span class="pi pi-chevron-right text-xl font-normal ml-2"></span>
      </div>
    </ng-template>
</p-paginator>

<p-popover #op (onHide)="documentoSeleccionado == null">
  <ng-template #content>
    <div class="flex align-items-center boton-descargar cursor-pointer" (click)="irDetalleDocumentacion()">
      <i class="cme-document" [style]="{ 'font-size': '1.2rem', color: '#23c8a7'}"></i>
      <span class="ms-2 acciones-tabla">Consultar documentos</span>
    </div>
  </ng-template>
</p-popover>
