/* You can add global styles to this file, and also import other style files */
@use "primeflex/primeflex.css";
@use "primeicons/primeicons.css";
@use "assets/scss/design-system/index" as design;
@use "assets/scss/primeng-custom/index" as customprimeng;

@layer app-components {

  :root {
    --cme-max-width: 1440px;

    @media screen and (min-width: 1440px) {
      --cme-max-width: 1600px;
    }

    @media screen and (min-width: 1600px) {
      --cme-max-width: 1900px;
    }

    @media screen and (min-width: 1900px) {
      --cme-max-width: 2100px;
    }
  }

  .container {
    width: 100% !important;
  }

  .container-cme {
    max-width: var(--cme-max-width);
    margin-left: auto;
    margin-right: auto;
  }

  html {
    font-size: 12px;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
  }

  html,
  body {
    height: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
  }

  .login-background {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), /* Black overlay */
    url("assets/backgrounds/login-background.jpg") no-repeat center center / cover;
    min-height: 100vh;
  }

  header {
    background-color: var(--gob-mx-pr-rojo-tono1);
  }

  footer {
    background-color: var(--gob-mx-pr-imss-tono1);
  }

}
