<div class="my-4"></div>
<p-card class="empty-border" styleClass="shadow-4">
  <div class="flex flex-oferta-card">
    <article class="col-12 lg:col-9">
      <div class="flex flex-row gap-5 flex-oferta-card">
        <div class="flex flex-column  p-0 mt-1">
          <div class="header-oferta-flex mb-2">
            <p class="titulo-oferta-card texto-ajustable">
              {{ plaza.especialidad | titlecase }}
            </p>
          </div>
          <p class="especificacion-oferta-card">{{ plaza.categoria | titlecase }}</p>
        </div>
        <div class="flex flex-column  p-0 mt-1">
          <p class="titulo-label-oferta-card">Tipo de unidad</p>
          <p class="texto-label-oferta-card">{{ plaza.tipoUnidad | titlecase }}</p>
        </div>
        <div class="flex flex-column p-0 mt-1">
          <p class="titulo-label-oferta-card">Turno</p>
          <p class="texto-label-oferta-card">{{ plaza.turno | titlecase }}</p>
        </div>
        <div class="flex flex-column p-0 mt-1">
          <p class="titulo-label-oferta-card">Tipo de plaza</p>
          <p class="texto-label-oferta-card">{{ plaza.tipoPlaza | titlecase }}</p>
        </div>
        <div class="flex flex-column p-0 mt-1">
          <p class="titulo-label-oferta-card">Marca de ocupación</p>
          <p class="texto-label-oferta-card">{{ plaza.marcaOcupacion | titlecase }}</p>
        </div>
        <div class="flex flex-column p-0 mt-1">
          <p class="titulo-label-oferta-card">No. de plaza</p>
          <p class="texto-label-oferta-card">{{ plaza.numeroPlaza }}</p>
        </div>
        <div class="flex flex-column p-0 mt-1">
          <p class="titulo-label-oferta-card">Puesto</p>
          <p class="texto-label-oferta-card">{{ plaza.puesto }}</p>
        </div>
      </div>
      <hr class="my-4">
      @if (!isMobileView) {
        <div class="flex flex-row justify-content-start align-items-center gap-2 mb-4">
          <p class="nombre-unidad-oferta-card">{{ plaza.hospital.nombre | titlecase }}</p>
          @if (+plaza.hospital.tipo == 1) {
            <p-badge [value]="'• ' + 'Nuevo hospital'" severity="warn"/>
          }
        </div>
      }
      <div class="flex flex-row">
        <div class="flex justify-content-between w-100 flex-oferta-card flex-row">
          <div class="flex flex-column col-6 lg:col-4 p-0 mt-1">
            <div class="flex flex-row gap-2 align-items-center">
              <i class="cme-pin me-5" [style]="{ 'font-size': '2.2rem', color: '#23c8a7'}"></i>
              <div class="flex flex-column">
                <p class="titulo-label-oferta-card">OOAD</p>
                <p class="texto-label-oferta-card">{{ plaza.hospital.direccion | titlecase }}</p>
              </div>
            </div>
          </div>
          <div class="flex flex-column align-items-center col-6 lg:col-2 p-0 mt-1">
            <p class="titulo-label-oferta-card">Zona</p>
            <p class="texto-label-oferta-card">{{ plaza.hospital.zona | titlecase }}</p>
          </div>
          <div class="flex flex-column col-12 lg:col-6 p-0 mt-1">
            <p class="titulo-label-oferta-card">Dirección</p>
            <p class="texto-label-oferta-card">{{ plaza.hospital.direccion | titlecase }}</p>
          </div>
        </div>
      </div>
    </article>
    <div class="border-left-1 vertical-border mx-1"></div>
    <article class="col-12 lg:col-3 flex flex-column gap-2 justify-content-between">
      <div class="flex justify-content-center">
        <p class="leyenda-sueldo">Sueldo mensual</p>
      </div>
      <div class="flex justify-content-evenly">
        <div class="flex flex-column align-items-center gap-2">
          <p class="texto-sueldo"> {{ plaza.sueldoMensual.estimadoBruto |  currency:'USD':'symbol':'1.2-2' }} </p>
          <p class="leyenda-sueldo"> Estimado bruto </p>
        </div>
        <div class="flex flex-column align-items-center gap-2">
          <p class="texto-sueldo"> {{ plaza.sueldoMensual.estimadoNeto |  currency:'USD':'symbol':'1.2-2' }} </p>
          <p class="leyenda-sueldo"> Estimado neto </p>
        </div>
      </div>
      <div class="flex justify-content-center">
        <a class="link-ver-mas-oferta-card cursor-pointer" (click)="verMas()" >Ver más</a>
      </div>
    </article>
  </div>
</p-card>
