<div class="flex justify-content-between bg-menu px-4 py-3 mb-2 lg:mb-0">

  <div class="flex align-items-center">
    <p-button variant="text" icon="pi pi-bars" (onClick)="emitirClick()" class="md:hidden"/>
    <p class="letras-menu-imss pr-4">IMSS</p>
    <hr class="vertical mx-0 me-3"/>
    <span class="border-circle bg-green cmr-texto mr-2">CME</span>
    <p class="menu-nombre-sistema ms-3">Convocatoria para médicos especialistas</p>
  </div>

  <div class="flex align-items-center margin-right-10">
    <span class="usuario-menu pr-4 mr-6 text-overflow-ellipsis alinear-izquierda">
      {{ userData?.nomNombre }} {{ userData?.nomApellidoPaterno }} {{ userData?.nomApellidoMaterno }}
    </span>
    <p-speeddial [model]="items" direction="down" [transitionDelay]="80" class="absolute ajuste-avatar"
                 [(visible)]="speedDialVisible">
      <ng-template pTemplate="button" let-toggleCallback="toggleCallback">
        <p-avatar icon="pi pi-user" (click)="toggleCallback($event)" [style]="{ 'background-color': '#E0FFFF', color: '#5DC1B9', 'border-color': '#5DC1B9',
     'border': '2px solid' }" class="ml-8 my-2 cursor-pointer" size="xlarge" shape="circle"/>
      </ng-template>
      <ng-template pTemplate="item" let-item let-toggleCallback="toggleCallback">
        <div class="bg-white border-round shadow-2 w-15rem md:w-auto" style="min-width: 250px;">
          <div class="bg-menu-btn text-white p-3 border-round-top">
            <div class="flex justify-content-between align-items-start">
              <div class="flex align-items-center">
                <i class="pi pi-user" style="font-size: 1.5rem; margin-right: 0.5rem;"></i>
                <div class="ml-1">
                  <p class="font-bold text-lg mb-0 alinear-izquierda">
                    {{ userData?.nomNombre }} {{ userData?.nomApellidoPaterno }} {{ userData?.nomApellidoMaterno }}
                  </p>
                  @if (userData?.cveMatricula) {
                    <small>Matrícula: {{ userData?.cveMatricula }}</small>
                  }
                  @if (userData?.refFolio) {
                    <small>Folio: {{ userData?.refFolio }}</small>
                  }
                </div>
              </div>
              <i class="pi pi-times cursor-pointer" style="font-size: 1.2rem;"
                 (click)="speedDialVisible = !speedDialVisible"></i>
            </div>
          </div>

          <div
            class="flex justify-content-start align-items-center gap-2 border-round card py-3 px-2 flex-row cursor-pointer hover:surface-200"
            (click)="toggleCallback($event, item)">
            <i class="pi pi-sign-out" style="font-size: 1.2rem;"></i>
            <span class="text-xl">Cerrar sesión</span>
          </div>
        </div>
      </ng-template>
    </p-speeddial>
  </div>
</div>
