.bg-menu {
  background-color: #fff;
  margin-top: 10px;
}

.ajuste-avatar {
  top: 90px;
  right: 10px;
}

@media (max-width: 767px) {

  .menu-nombre-sistema {
    display: none;
  }

}


.bg-menu-btn {
  background-color: #008f39;
}

@media (max-width: 767px) {
    .ajuste-avatar {
      right: -15%;
    }

  :host ::ng-deep .ajuste-avatar .p-speeddial-list {
    position: relative;
    right: 25%;
    top: 5px;
  }
}
