.bg-menu {
  background-color: #fff;
  margin-top: 10px;
}

.ajuste-avatar {
  top: 90px;
  right: 3%;
}

:host ::ng-deep .p-speeddial {
  max-width: 50px;
}

:host ::ng-deep .ajuste-avatar .p-speeddial-list {
  position: relative;
  right: 120%;
  top: 5px;
}

@media (max-width: 767px) {

  .menu-nombre-sistema {
    display: none;
  }

}


.bg-menu-btn {
  background-color: #008f39;
}

@media (max-width: 767px) {
  .ajuste-avatar {
    right: 11%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .ajuste-avatar {
    right: 6%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .ajuste-avatar {
    right: 4%;
  }
}

