<div class="flex justify-content-center px-3">
  <h2 class="login-card-titulo">Recuperar contraseña</h2>
</div>
<div class="px-0">
  <hr class=" border-1 text-gray-100">
</div>
<form [formGroup]="formRecuperarCuenta" (ngSubmit)="abrirModalRecuperarContrasenia()">
  <div class=" mt-4">
    <div class="field">
      <label for="curp_recuperar_cuenta" class="field-label">CURP</label>
      <input
        pInputText
        alphanumericOnly
        class="w-full"
        type="text"
        id="curp_recuperar_cuenta"
        oninput="this.value = this.value.toUpperCase()"
        placeholder="Ingresa tu CURP"
        minlength="18"
        maxlength="18"
        formControlName="curp"/>
    </div>
    <div class="form-icon">
      <label class="field-label" for="correoPersonal_recuperar_cuenta">Correo personal</label>
      <input
        pInputText
        emailAllowCaracters
        class="w-full"
        type="text"
        id="correoPersonal_recuperar_cuenta"
        oninput="this.value = this.value.toLowerCase()"
        placeholder="Ingresa correo personal"
        formControlName="correoPersonal"/>
    </div>
  </div>
</form>
<div class="flex justify-content-end mt-3">
  <p-button type="submit" disabled label="Enviar"/>
</div>


<p-toast />
<p-confirmDialog>
  <ng-template #message let-message>
    <div class="flex flex-col items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
      <i [ngClass]="message.icon" class="!text-6xl text-primary-500"></i>
      <p>{{ message.message }}</p>
    </div>
  </ng-template>
</p-confirmDialog>

