<main class="flex  login-background">
  <aside class="col-6 flex flex-column justify-content-center align-items-center p-6">
    <h1 class="login-titulo">Convocatoria para médicos especialistas</h1>
    <h2 class="login-subtitulo">Reclutamiento IMSS 2025</h2>
  </aside>
  <section class="col-6 flex justify-content-center align-items-center">
    <p-card class="px-2 login-card border-round-bottom-3xl border-round-bottom"
            [style]="{ width: '45rem', overflow: 'hidden' }">

      <div class="flex justify-content-center px-3">
        <h2 class="login-card-titulo">Recuperar contraseña</h2>
      </div>
      <div class="px-0">
        <hr class=" border-1 text-gray-100">
      </div>
      <form [formGroup]="formRecuperarCuenta" (submit)="abrirModalRecuperarContrasenia()">
        <div class=" mt-4">
          <div class="field">
            <label for="curp_recuperar_cuenta" class="field-label">CURP</label>
            <input
              pInputText
              alphanumericOnly
              class="w-full"
              type="text"
              id="curp_recuperar_cuenta"
              oninput="this.value = this.value.toUpperCase()"
              placeholder="Ingresa tu CURP"
              minlength="18"
              maxlength="18"
              formControlName="curp"/>
          </div>
          <div class="form-icon">
            <label class="field-label" for="correoPersonal_recuperar_cuenta">Correo personal</label>
            <input
              pInputText
              emailAllowCaracters
              class="w-full"
              type="text"
              id="correoPersonal_recuperar_cuenta"
              oninput="this.value = this.value.toLowerCase()"
              placeholder="Ingresa correo personal"
              formControlName="correoPersonal"/>
          </div>
        </div>
        <div class="flex justify-content-end mt-3">
          <p-button type="submit" [disabled]="formRecuperarCuenta.invalid" label="Enviar"/>
        </div>
      </form>
    </p-card>
  </section>
</main>


<p-toast/>
<p-confirmDialog>
  <ng-template #message let-message let-onAccept="onAccept" let-onReject="onReject">
    <div class="flex flex-column align-items-center w-full gap-4 border-b border-surface-200 dark:border-surface-700">
      <i [ngClass]="message.icon" class="text-primary-500" [style]="{ 'font-size': '5rem'}"></i>
      <p>{{ message.message }}</p>
    </div>
  </ng-template>
</p-confirmDialog>

