.login-titulo {
  color: var(--gob-mx-base-blanco);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 125% */
}

.login-subtitulo {
  color: var(--gob-mx-base-blanco);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 125% */
}
